<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.generalpost.dao.GeneralCommentDAO">

    <resultMap type="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO"
               id="generalCommentVOMap"
               autoMapping="true">
        <id column="GENERAL_COMMENT_ID" property="generalCommentId" />
     <association property="generalPostVO"
                     javaType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO"
                     autoMapping="true">
                <id column="GENERAL_POST_ID" property="generalPostId" />
     </association>   
     <association property="generalMemberVO"
                     javaType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO"
                     autoMapping="true">
                <id column="GENERAL_MEMBER_EMAIL" property="generalMemberEmail" />
     </association>
    </resultMap>
    <select id="getAllComments"
            parameterType="string"
            resultMap="generalCommentVOMap">
	               SELECT 
	               GC.GENERAL_COMMENT_ID
	             , GC.COMMENT_WRITER
	             , GC.GENERAL_POST_ID
	             , GC.COMMENT_CONTENT
	             , GC.POST_DATE
	             , GC.UPPER_COMMENT_ID
	             , GC.LIKE_CNT
	             , GC.DELETE_YN
	          FROM GENERAL_COMMENT GC
	         INNER JOIN GENERAL_POST GP
	            ON GC.GENERAL_POST_ID = GP.GENERAL_POST_ID 
	          WHERE GC.GENERAL_POST_ID = #{_parameter}
	       START WITH GC.UPPER_COMMENT_ID IS NULL
	         CONNECT BY PRIOR GC.GENERAL_COMMENT_ID = GC.UPPER_COMMENT_ID
    </select>
    <select id="getOneComment"
            parameterType="string"
            resultMap="generalCommentVOMap">
        SELECT GC.GENERAL_COMMENT_ID
             , GC.COMMENT_WRITER
             , GC.GENERAL_POST_ID
             , GC.COMMENT_CONTENT
             , GC.POST_DATE
             , GC.UPPER_COMMENT_ID
             , GC.LIKE_CNT
             , GC.DELETE_YN
             , GM.GENERAL_MEMBER_EMAIL
          FROM GENERAL_COMMENT GC
         INNER JOIN GENERAL_MEMBER GM
            ON GC.COMMENT_WRITER = GM.GENERAL_MEMBER_EMAIL
         WHERE GC.GENERAL_COMMENT_ID = #{generalCommentId}
    </select>
    
    <insert id="createNewComment" 
            parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO">
    INSERT INTO GENERAL_COMMENT (
            GENERAL_COMMENT_ID
           , COMMENT_WRITER
           , GENERAL_POST_ID
           , COMMENT_CONTENT
           , POST_DATE
           , UPPER_COMMENT_ID
           , LIKE_CNT
           , DELETE_YN)
      VALUES (
            'GC-'||TO_CHAR(SYSDATE,'YYYYMMDD')||'-'||LPAD(SEQ_GENERAL_COMMENT_PK.NEXTVAL,6,'0')
           , #{commentWriter}
           , #{generalPostId}
           , #{commentContent}
           , SYSDATE
           , #{upperCommentId}
           , 0
           , 'N')
	</insert>
    <delete id="deleteOneComment"
            parameterType="string">
       DELETE
         FROM GENERAL_COMMENT
        WHERE GENERAL_COMMENT_ID = #{_parameter}
    </delete>
    <update id="likeOneComment"
            parameterType="string">
        UPDATE GENERAL_COMMENT
           SET LIKE_CNT = LIKE_CNT + 1
         WHERE GENERAL_COMMENT_ID = #{_parameter}
    </update>
    <update id="updateOneComment"
    		parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO">
    	    UPDATE GENERAL_COMMENT
		   SET COMMENT_CONTENT = #{commentContent}
		 WHERE GENERAL_COMMENT_ID = #{generalCommentId}
    </update>
  <!--   <insert id="reportOneComment"
            parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO">
            INSERT INTO REPORT (
                 , REPORT_ID
                 , REPORT_MEMBER_ID
                 , REPORT_TYPE_ID
                 , RECEIVED_REPORT_MEMBER_ID
                 , REPORT_CONTENT_ID
                 , REPORT_DATE
                 , REPORT_REASON
                 , REPORT_REASON_CONTENT
                 , ATTACHED_IMG
                 , PROGRESS_YN
                 , CANCEL_YN)
            VALUES (
            SEQ_REPORT_PK.NEXTVAL,
            #{reportMemberId},
            #{reportTypeId},
            #{receivedReportMemberId},
            #{reportContentId},
            SYSDATE,
            #{reportReason},
            #{reportReasonContent},
            #{attachedImg},
            'N',
            'N'
            )
    </insert> -->
            
  </mapper>
            