@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');/*글꼴을 가져오는 페이지*/

.flex_button {
  display: flex;
  flex-direction: column;
  margin-right: 120px;
  
}

.flex_main {
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin-left: 45px;
}

.flex_button button {
	background-color:var(--gray);
  width: 150px;
  height: 40px;
  margin-bottom: 15px;
  cursor: pointer;
  border: 2px;
}

.flex_button button:hover {
  background-color: var(--light-blue);
  color: white;
}

.flex_button button:first-child {
  margin-top: 51px;
}

.follow_chat {
  text-align: right;
}
.follow_icon{
  background-color: white;
  cursor: pointer;
  height: 30px;
}
.follow_icon>img ,.message_icon>img{
  width: 15px;
}
.message_icon{
 width:200px;
		height: 30px;
		background-color:  rgb(231,231,231);
		justify-content: center;
		border-radius: 5px;
		display: flex;
   		padding: 5px;
   		border: none;
    	font-weight: bold;
    	cursor: pointer;
}


.profile {
  display: grid;
  grid-template-columns: 170px 20px 1fr;
  margin: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.follow>p {
  padding-bottom: 5px;
}

.introduction_list {
	margin-top: 62px;
  padding: 0px;
  list-style: none;
  grid-gap: 20px;
  width: 1200px;
}

.follow a {
  text-decoration: none;
  color: #000;
}
.follow a:first-child{
  margin-left: 50px;
}

.related_link img {
  width: 30px;
  margin-right:7px;
}

.related_link a {
  text-decoration: none;
  color: #333;
  margin-right: 10px;

}

.show_pwf {
  display: grid;
  grid-template-columns: 1fr 250px 250px 250px 1fr;
}

.show_pwf button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding-top: 30px;
  text-decoration: none;
  color: #575555;
  position: relative;
}

.show_pwf button>h2 {
  margin-bottom: 0px;
}

.show_pwf button:hover::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 4px;
  background-color: orange;
  transform: scaleX(0.55);
}

#technology_stack {
  margin-top: 70px;
  border-bottom: 0.0625rem solid rgb(231,231,231);
  display: flex;
  flex-direction: column;
}

#technology_stack ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin-bottom: 40px;
}

#technology_stack li {
  margin-right: 10px;
}

.education{
  border-bottom: 0.0625rem solid rgb(231,231,231);
  display: flex;
  flex-direction: column;
}
.career{
  border-bottom: 0.0625rem solid rgb(231,231,231);
  display: flex;
  flex-direction: column;
}
.education>ul,
.career>ul,
.region>ul {
  padding: 0px;
  margin-bottom: 40px;
}

.education>ul>li 
,.region>ul>li{
  list-style: none;
  margin-bottom: 10px;
}

.career>ul>li {
  list-style: none;
}

.career_list_year {
  font-size: 10pt;
  margin-bottom: 15px;
}

/*신고 모달*/
.report-modal {
	visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* 모달 내용 스타일 */
.report-modal-content {
    position: relative;
    padding: 20px;
    width: 60%;
    background-color: #fff;
    border-radius: 5px;
}

/* 모달 닫기 버튼 스타일 */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    color: #888;
}
