@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&display=swap');/*글꼴을 가져오는 페이지*/


:root {
  /* Full width꽉찬 화면으로 */
  --width-fullsize: 1400px;
  --width-sideLeft: 250px;
  --width-sideRight: 250px;
  
  /* color 상징하는 색이 파랑색이니까*/
  --color-main: #30a4ac;


  /* bg */
  --bg-black: #7bca30;
  --bg-second: #306aac;
  --bg-third: #30ac72;
}

html, body {
  width: 100%;
  height: 100%;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, textarea, p, th, td, address, blockquote {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 폰트 및 텍스트 스타일 */
body {
  font-family: 'Noto Sans KR', 'Noto Serif KR', sans-serif;
  font-size: 14px;
  line-height: 1;
  color: #222;
  font-weight: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  font-weight: normal;
}

/* 기본 스타일 리셋 */
img, fieldset, iframe, table, th, td {
  border: none;
}

li, ol {
  list-style: none;
}

input, select, button, textarea {
  font-size: 1em;
  font-family: 'Noto Sans KR', 'Noto Serif KR', sans-serif;
  color: #222;
  vertical-align: middle;
}

img {
  vertical-align: middle;
}

sup {
  font-size: 90%;
}

em, address, cite, dfn {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
}

hr {
  display: none;
}

legend, caption {
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -999px;
} /* 스크린 리더기용 */

/* 버튼 스타일 리셋 */
button {
  border: 0;
  padding: 0;
  margin: 0;
  background: none;
  cursor: pointer;
  overflow: visible;/*HTML 요소에 overflow 속성을 visible로 설정하는 것을 의미*/
}

button::-moz-focus-inner {
  margin: -1px;
  padding: 0;
}

/* 링크 스타일 */
a:link {
  color: #222;
  text-decoration: none;
}

a:visited {
  color: #222;
  text-decoration: none;
}

a:active {
  color: #222;
  text-decoration: none;
}

a:hover {
  color: #222;
  text-decoration: none;
}

*,
*:before,
*:after {box-sizing: inherit;}

.wrap {width: 100%;position: relative;overflow: hidden;}

.header {  border-bottom: 1px solid #eee;}
.header .inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: var(--width-fullsize);
  height: 70px;
  margin:0 auto;
}
.header .util {border-bottom: 1px solid #eee;}
.header .util ul {width: var(--width-fullsize);height: 50px;margin:0 auto;display: flex;justify-content: right;align-items: center;}
.header .util li a {display: block;font-size: 12px;color: #999;}
.header .util li{margin:0 5px;}

.header hgroup {text-align: center;}
.header hgroup h1 a {display: block;color: var(--color-main);font-size: 30px;font-weight: 700;}

/* Navi */
.gnb ul {height: 50px; display: flex;align-items: center;}
.gnb ul > li {position: relative;height: inherit;margin: 0 50px;}
.gnb ul > li > a {position: relative;height: inherit;display: flex;align-items: center;font-size: 18px;font-weight: 500;color: #333;}
.gnb ul > li > a::after {content: '';width: 0;height: 4px;position: absolute;right:0;bottom:0;z-index: 1;background-color: var(--color-main);transition: width 0.2s ease-in-out;}
.gnb ul > li > a:hover,
.gnb ul > li > a.active {color: var(--color-main);}
.gnb ul > li > a:hover::after,
.gnb ul > li > a.active::after {width: 100%;left:0;}

.setting {display: flex;}
.setting a {margin-left: 10px;color: #999;}
.setting a:hover {color: var(--bg-black);}


/* mainVisual */
.mainVisual {position: relative;background-color: #fff;margin-top: 50px;}
.mainVisual .slider {position: relative;overflow: hidden;width: var(--width-fullsize);margin:0 auto;}
.mainVisual .slider .swiper-container {}
.mainVisual .slider .swiper-container .swiper-wrapper .swiper-slide {position: relative;width: 100%;height: 300px;background-repeat: no-repeat;background-position: center center;}
.mainVisual .slider .swiper-container .swiper-wrapper .swiper-slide.visaul_01 {background-image: url("../images/main_visual_01.jpg");}
.mainVisual .slider .swiper-container .swiper-wrapper .swiper-slide.visaul_02 {background-image: url("../images/main_visual_02.jpg");}
.mainVisual .slider .swiper-container .swiper-wrapper .swiper-slide.visaul_03 {background-image: url("../images/main_visual_03.jpg");}

.mainVisual .slider .swiper-container .swiper-slide dl {padding-top: 350px;}
.mainVisual .slider .swiper-container .swiper-slide dl dt {text-align: center;}
.mainVisual .slider .swiper-container .swiper-slide dl dd {font-size: 45px;color: #fff;text-align: center;}

.mainVisual .slider .swiper-button-prev,
.mainVisual .slider .swiper-button-next{cursor:pointer ;position:absolute;top:52%; width:30px;height:56px; z-index:20;}
.mainVisual .slider .swiper-button-prev{left:3%;background: url("../images/common/btn_slide_left.png") left center no-repeat;}
.mainVisual .slider .swiper-button-next{right:3%;background: url("../images/common/btn_slide_right.png") right center no-repeat;}
.mainVisual .ico_mouse {position: absolute;left:50%;bottom:5%;z-index: 10;width: 21px;margin-left: -10px;}


.container {
  display: flex;
  justify-content: space-between;
  position: relative;width: var(--width-fullsize);margin:0 auto;padding:80px 0;
}
.container h2 {font-size: 36px;color: #222;font-weight: 700;letter-spacing: -0.5px;text-align: center;}

.side.sideLeft {
  width : var(--width-sideLeft);
}
.side.sideRight {
  width : var(--width-sideRight);
}

.baner_01 {
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.baner_02 {
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.baner_03 {
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}
.baner_04 {
  height: 200px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

.contents {
  width: 100%;
  padding: 0 30px;
}

.searchbox {
  display: flex;
  align-items: center;
  height: 120px;
  background-color: var(--bg-black);
}
.searchbox .inner{
  position: relative;
  display: flex;
  align-items: center;
  width: 900px;margin:0 auto;
}

.searchbox .inner input{
  width: 100%;
  height: 46px;
  border: none;
  border-radius: 50px;
  padding: 0 20px;
  font-size: 16px;
}

.searchbox .inner .btn_search{
  position: absolute;
  right: 20px;
  font-size: 30px;
}

.bbs_title {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 20px;
  line-height: 38px;
}

/* 검색 */
.list_search {
  font-size: 12px;
  text-align: right;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.list_search .select,
.list_search .sc_text {
  height: 30px;
  padding: 5px;
  border: 1px solid #ddd;
  color: #666;
  border-radius: 3px;
  margin-right: 5px;
}

/* 게시판 목록 */
.board_list_ty1 {
  width: 100%;
  border-top: 2px solid var(--color-main);
}

.board_list_ty1 table {
  width: 100%;
  border-bottom: 1px solid #666;
  text-align: center;
}

.board_list_ty1 table th {
  padding: 15px 0;
  border-bottom: 1px solid #aaa;
  background-color: #f8f8f8;
  color: #666;
  font-family: ng; /* 폰트 이름 설정 */
}

.board_list_ty1 table td {
  padding: 15px 0;
  border-bottom: 1px solid #d6d6d6;
}

.board_list_ty1 table td.c_num,
.board_list_ty1 table td.c_date {
  color: #515ed4;
}

.board_list_ty1 table td.c_name {
  color: #30a4ac;
}

.board_list_ty1 table td.c_info {
  text-align: left;
}


/* paginate */
.paginate{overflow:hidden;clear:both;margin:0 auto;padding:0 0 50px;text-align:center;zoom:1}
.paginate a{
	margin:0 3px;
	padding:0 14px;
	border:1px solid #d6d6d6;
	display:-moz-inline-box;display:inline-block;_position:relative;
	margin-right:-3px;font-weight:bold;line-height:34px;
	text-decoration:none !important /*글씨체 강조 */
}
.paginate a:hover,.paginate a:focus,.paginate a:active{border:1px solid var(--color-main);}
.paginate strong{
	margin:0 3px;
	display:-moz-inline-box;display:inline-block;_position:relative;
	margin-right:-3px;font-weight:bold;line-height:36px;
	text-decoration:none !important
}
.paginate strong{color:#fff !important}
.paginate a span{display:block;_display:inline;position:relative;top:0;zoom:1}
.paginate a:hover span,
.paginate a:focus span,
.paginate a:active span{cursor:pointer}
.paginate strong span{
	padding:0 15px;
	display:block;_display:inline;position:relative;top:0;zoom:1;background-color: var(--color-main);
}
/* user option */
.paginate a.pre,
.paginate a.next {
    position: relative;
    background: none !important;
}

.paginate a.pre:hover,
.paginate a.pre:focus,
.paginate a.pre:active,
.paginate a.next:hover,
.paginate a.next:focus,
.paginate a.next:active {
    background: none !important;
}


/* Button style */
.btn_set {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 30px 0;
}

.btn_set.btn_left { text-align: left; }
.btn_set.btn_right { text-align: right; }
.btn_set.btn_center { text-align: center; }

.btn {
    margin: 0 2px;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 8px;
}

.btn, .btn a {
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 0 8px;
}

/* 버튼 스타일 1 */
.btn_st_1 {
    background-color: var(--color-main);
}

.btn_st_1 a {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

/* 버튼 스타일 2 */
.btn_st_2 {
    background-color: var(--bg-second);
}

.btn_st_2 a {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}

/* 버튼 스타일 3 */
.btn_st_3 {
    background-color: var(--bg-third);
}

.btn_st_3 a {
    font-size: 14px;
    height: 30px;
    line-height: 30px;
    color: #fff;
}.paginate a.pre,
.paginate a.next {
    position: relative;
    background: none !important;
}

.paginate a.pre:hover,
.paginate a.pre:focus,
.paginate a.pre:active,
.paginate a.next:hover,
.paginate a.next:focus,
.paginate a.next:active {
    background: none !important;
}


/* footer */
.footer {
  background-color: var(--bg-black);
  color: #999 ;
}

.footer .inner {
  width: var(--width-fullsize);
  margin: 0 auto ;
  padding: 40px 0 ;
}

.footer .inner address {
  text-align: center;
  padding: 0 0 30px 0;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.4;
}

.footer .inner .copyright {
  border-top: 1px solid #333;
  text-align: center;
  padding: 30px 0 0 0;
  font-weight: 300;
  font-size: 12px;
}