<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.generalpost.dao.GeneralCommentDAO">

    <select id="getAllComments"
            parameterType="_int"
            resultMap="generalCommentVOMap">
        SELECT GC.GENERAL_COMMENT_ID
             , GC.COMMENT_WRITER
             , GC.GENERAL_POST_ID
             , GC.COMMENT_CONTENT
             , GC.POST_DATE
             , GC.UPPER_COMMENT_ID
             , GC.LIKE_CNT
             , GC.DELETE_YN 
          FROM GENERAL_COMMENT GC
         INNER JOIN GENERAL_POST GP 
            ON GC.GENERAL_POST_ID = GP.GENERAL_POST_ID
         INNER JOIN COMMON C
            ON C.CODE_ID =GP.BOARD_ID
         START WITH GC.UPPER_COMMENT_IP=0
           AND GC.GENERAL_POST_ID=#{_parameter}
       CONNECT BY PRIOR GC.GENERAL_COMMENT_ID = GC.UPPER_COMMENT_ID;
 </select>
    
    <insert id="createNewComment"
            parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO">
        INSERT INTO GENERAL_COMMENT (
             , GENERAL_COMMENT_ID
		     , COMMENT_WRITER
		     , GENERAL_POST_ID
		     , COMMENT_CONTENT
		     , POST_DATE
		     , UPPER_COMMENT_ID
		     , LIKE_CNT
		     , DELETE_YN)
		VALUES (
		   SEQ_GENERAL_COMMENT_ID.NEXTVAL
		     , #{commentWriter}
		     , #{generalPostId}
		     , #{commentContent}
		     , SYSDATE
		     , #{upperCommentId}
		     , 0
		     , 'N')  
            </insert>
    <delete id="deleteOneComment"
            parameterType="int">
       DELETE
         FROM GENERAL_COMMENT
        WHERE GENERAL_COMMENT_ID = #{_parameter}
    </delete>
    <update id="recommendOneComment"
            parameterType="int">
        UPDATE GENERAL_COMMENT
           SET LIKE_CNT = LIKE_CNT + 1
         WHERE GENERAL_COMMENT_ID = #{_parameter}        
    </update>
    <insert id="reportOneComment"
            parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO">
            INSERT INTO REPORT R(
                   REPORT_ID
                 , REPORT_MEMBER_EMAIL
                 , REPORT_TYPE_ID
                 , RECEIVED_REPORT_MEMBER_EMAIL
                 , REPORT_CONTENT_ID
                 , REPORT_DATE
                 , REPORT_REASON
                 , REPORT_REASON_CONTENT
                 , ATTACHED_IMG
                 , PROGRESS_YN
                 , CANCEL_YN
            ) 
            SELECT REPORT_ID
                 , REPORT_MEMBER_EMAIL
                 , REPORT_TYPE_ID
                 , RECEIVED_REPORT_MEMBER_EMAIL
                 , REPORT_CONTENT_ID
                 , REPORT_DATE
                 , REPORT_REASON
                 , REPORT_REASON_CONTENT
                 , ATTACHED_IMG
                 , PROGRESS_YN
                 , CANCEL_YN
            FROM REPORT R
            LEFT OUTER JOIN GENERAL_MEMBER GM 
            ON GM.GENERAL_MEMBER_EMAIL = R.RECEIVED_REPORT_MEMBER_EMAIL 
            INNER JOIN GENERAL_COMMENT GC 
            ON GM.GENERAL_MEMBER_EMAIL = GC.COMMENT_WRITER ;
            )
    </insert>
            
  </mapper>
            