<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.generalpost.dao.GeneralPostDAO">

	 <!-- <resultMap type="com.ktdsuniversity.edu.generalpost.vo.GenaralPostVO" id="genaralPostVOMap">
		<id column="GENERALPOSTID" property="generalPostId" />
		<result column="POSTWRITERID" property="postWriterId" />
		<result column="BOARDID" property="boardId" />
		<result column="POSTTITLE" property="postTitle" />
		<result column="POSTCONTENT" property="postContent" /> 
		<result column="POSTDATE" property="postDate"/>
		<result column="LIKECNT" property="likeCnt" />
		<result column="VIEWCNT" property="viewCnt" />
		<result column="DELETEYN" property="deleteYn" />
		<association property="memberVO">
			 MemberVO의 고유값 
			<id column="EMAIL" property="email" /> 
			<result column="NAME" property="name"/>
		</association>
	</resultMap> -->
	
	<insert id="createNewBoard"
			parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		INSERT INTO GENERAL_POST 
			(GENERAL_POST_ID
			, POST_WRITER_ID
			, BOARD_ID
			, POST_TITLE
			, POST_CONTENT
			, POST_DATE
			, LIKE_CNT
			, VIEW_CNT
			, DELETE_YN) 
		VALUES 
		 (SEQ_GENERAL_POST_PK.NEXTVAL
	        , #{postWriterId}
			, #{boardId} 
			, #{postTitle}
			, #{postContent}
			, #{postDate}
			, 0
			, 0
			, #{deleteYn} )
	</insert>
	
	<select id="getBoardAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM GENERAL_POST GP
		 INNER JOIN MEMBERS M
		    ON GP.POST_WRITER = M.EMAIL
	</select>
	
	<update id="increaseViewCount"
			parameterType="_int">
		UPDATE GENERAL_POST
		   SET VIEW_CNT = VIEW_CNT + 1
		 WHERE GENERAL_POST_ID = #{_parameter}
	</update>
	
	<select id="getOneBoard"
		parameterType="_int"
		resultType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		SELECT GENERAL_POST_ID
		     , POST_WRITER_ID
		     , BOARD_ID
		     , POST_TITLE
		     , POST_CONTENT
		     , POST_DATE
		     , LIKE_CNT
		     , VIEW_CNT
		     , DELETE_YN
		  FROM GENERAL_POST
		 WHERE GENERAL_POST_ID = #{_parameter}
	</select>
	
	<select id="getAllBoard"
	resultType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		SELECT GENERAL_POST_ID
		     , POST_WRITER_ID
		     , BOARD_ID
		     , POST_TITLE
		     , PODT_CONTENT
		     , POST_DATE
		     , LIKR_CNT
		     , VIEW_CNT
		     , DELETE_YN
		  FROM GENERAL_POST
		 ORDER BY GENERAL_POST_ID
	</select>

	
	<update id="updateOneBoard"
		parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET POST_TITLE = #{posttitle}
		     , POST_CONTENT = #{postcontent}
		     , POST_DATE = SYSDATE
		 WHERE POST_WRITER_ID = #{postwriterid}
	</update>

	
	<!-- 삭제,근데 수정. -->
    <update id="deleteOneBoard"
	parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET POST_TITLE = #{posttitle}
		     , POST_CONTENT = #{postcontent}
		     , POST_DATE = SYSDATE
		     , DELETE_YN = 'Y'
		 WHERE POST_WRITER_ID = #{post_writer_id}
	</update>
	
</mapper>