<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.generalpost.dao.GeneralPostDAO">
	<resultMap type="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO"
	           id="GeneralPostDAOMap"
	           autoMapping="true">
	           <id column="GENERAL_POST_ID" property="generalPostId" />
	    <association property="memberVO"
	                 javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
			         autoMapping="true">
			         <id column="EMAIL" property="email" />
			         <id column="NICKNAME" property="nickname" />
	    </association>
	    <collection property="hashtagListVO"
	    			ofType="com.ktdsuniversity.edu.generalposthashtag.vo.HashtagVO"
	    			autoMapping="true">
	         		<id column="GENERAL_POST_HASHTAG_ID" property="generalPostHashtagId" />
	    		<association property="commonCodeVO"
	    					 javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO"
	    					 autoMapping="true">
	    					 <id column="CODE_ID" property="codeId"></id>
	    		</association>
	    </collection>
	</resultMap>
	
	<select id="getBoardAllCount"
			parameterType="com.ktdsuniversity.edu.generalpost.vo.SearchForumVO"
			resultType="_int">
		SELECT COUNT(GP.GENERAL_POST_ID)
          FROM GENERAL_POST GP
         INNER JOIN MEMBER M
            ON M.EMAIL = GP.POST_WRITER
         <if test='searchType == "hashtagId"'>
         INNER JOIN GENERAL_POST_HASHTAG GPH
            ON GP.GENERAL_POST_ID = GPH.GENERAL_POST_ID
         </if>
         WHERE GP.DELETE_YN = 'N'
           AND GP.BOARD_ID = #{boardId}
         <if test='searchKeyword != null and searchKeyword != ""'>
		  <if test='searchType == "postTitle"'>
		   AND GP.POST_TITLE LIKE '%' || #{searchKeyword} || '%'
		  </if>
		  <if test='searchType == "postContent"'>
		   AND GP.POST_CONTENT LIKE '%' || #{searchKeyword} || '%'
		  </if>
		  <if test='searchType == "postWriter"'>
		   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
		  </if>
		  <if test='searchType == "hashtagId"'>
		   AND GPH.HASHTAG_ID = #{searchKeyword}
		  </if>
		</if>
	</select>
	
	<update id="increaseViewCount"
			parameterType="string">
		UPDATE GENERAL_POST
		   SET VIEW_CNT = VIEW_CNT + 1
		 WHERE GENERAL_POST_ID = #{_parameter}
	</update>

	<insert id="createNewBoard"
			parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		<selectKey keyProperty="generalPostId" resultType="string" order="BEFORE">
			SELECT 'GP-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_GENERAL_POST_PK.NEXTVAL, 6, '0')
			  FROM DUAL
		</selectKey>
		INSERT INTO GENERAL_POST 
			(GENERAL_POST_ID
			, POST_WRITER
			, BOARD_ID
			, POST_TITLE
			, POST_CONTENT
			, POST_DATE
			, LIKE_CNT
			, VIEW_CNT
			, DELETE_YN) 
		VALUES 
		 ( #{generalPostId}
	        , #{postWriter}
			, #{boardId}
			, #{postTitle}
			, #{postContent}
			, SYSDATE
			, 0
			, 0
			, 'N' )
	</insert>
	
	<!-- 자유게시판 등록 -->
	<insert id="createNewFreeBoard"
			parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		INSERT INTO GENERAL_POST 
			(GENERAL_POST_ID
			, POST_WRITER
			, BOARD_ID
			, POST_TITLE
			, POST_CONTENT
			, POST_DATE
			, LIKE_CNT
			, VIEW_CNT
			, DELETE_YN) 
		VALUES 
		 ( #{generalPostId}
	        , #{postWriter}
			, 'CC-20231017-000029'
			, #{postTitle}
			, #{postContent}
			, SYSDATE
			, 0
			, 0
			, 'N' )
	</insert>
	
	<select id="getOneBoard"
		parameterType="string"
		resultMap="GeneralPostDAOMap">
		SELECT GP.GENERAL_POST_ID
		     , GP.POST_WRITER
		     , GP.BOARD_ID
		     , GP.POST_TITLE
		     , GP.POST_CONTENT
		     , TO_CHAR(GP.POST_DATE, 'YYYY-MM-DD') POST_DATE
		     , GP.LIKE_CNT
		     , GP.VIEW_CNT
		     , GP.DELETE_YN
		     , M.NICKNAME
		     , GPH.*
			 , CC.CODE_CONTENT
		  FROM GENERAL_POST GP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = GP.POST_WRITER
		  LEFT OUTER JOIN GENERAL_POST_HASHTAG GPH
			ON GPH.GENERAL_POST_ID = GP.GENERAL_POST_ID
	      LEFT OUTER JOIN COMMON_CODE CC
			ON CC.CODE_ID = GPH.HASHTAG_ID
		 WHERE GP.GENERAL_POST_ID = #{_parameter}
	</select>
	
	<select id="getAllBoard"
	parameterType="string"
	resultMap="GeneralPostDAOMap">
		SELECT GP.GENERAL_POST_ID
		     , GP.POST_WRITER
		     , GP.BOARD_ID
		     , GP.POST_TITLE
		     , GP.POST_CONTENT
		     , TO_CHAR(GP.POST_DATE, 'YYYY-MM-DD') POST_DATE
		     , GP.LIKE_CNT
		     , GP.VIEW_CNT
		     , GP.DELETE_YN
		     , M.NICKNAME
		  FROM GENERAL_POST GP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = GP.POST_WRITER
		 WHERE DELETE_YN = 'N'
		   /*AND BOARD_ID = 'CC-20231017-000029'*/
		   AND BOARD_ID = #{_parameter}
		 ORDER BY POST_DATE DESC
	</select>
	
	<update id="updateOneBoard"
		parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET POST_TITLE = #{postTitle}
		     , POST_CONTENT = #{postContent}
		     , POST_DATE = SYSDATE
		 WHERE GENERAL_POST_ID = #{generalPostId}
	</update>

    <update id="deleteOneBoard"
	parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET DELETE_YN = 'Y'
		 WHERE GENERAL_POST_ID = #{generalPostId}
	</update>
	
	<update id="updateLikePost"
	parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET LIKE_CNT = #{likeCnt} + 1
		 WHERE GENERAL_POST_ID = #{generalPostId}
	</update>
	
	<!-- 질답게시판 -->
	<!-- <select id="getAllQnABoard"
	resultMap="GeneralPostDAOMap">
		SELECT GP.GENERAL_POST_ID
		     , GP.POST_WRITER
		     , GP.BOARD_ID
		     , GP.POST_TITLE
		     , GP.POST_CONTENT
		     , GP.POST_DATE
		     , GP.LIKE_CNT
		     , GP.VIEW_CNT
		     , GP.DELETE_YN
		     , M.NICKNAME
		  FROM GENERAL_POST GP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = GP.POST_WRITER
		 WHERE DELETE_YN = 'N'
		   AND BOARD_ID = 'CC-20231017-000030'
		 ORDER BY POST_DATE DESC
	</select> -->
	
	<!-- <insert id="createNewQnABoard"
			parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		<selectKey keyProperty="generalPostId" resultType="string" order="BEFORE">
			SELECT 'GP-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_GENERAL_POST_PK.NEXTVAL, 6, '0')
			  FROM DUAL
		</selectKey>
		INSERT INTO GENERAL_POST 
		 (GENERAL_POST_ID
			 , POST_WRITER
			 , BOARD_ID
			 , POST_TITLE
			 , POST_CONTENT
			 , POST_DATE
			 , LIKE_CNT
			 , VIEW_CNT
		 	 , DELETE_YN) 
		VALUES 
		 ( #{generalPostId}
	         , #{postWriter}
			 , 'CC-20231017-000030' 
			 , #{postTitle}
			 , #{postContent}
			 , SYSDATE
			 , 0
			 , 0
			 , 'N' )
	</insert> -->
	
	<!-- <select id="getOneQnABoard"
		parameterType="string"
		resultMap="GeneralPostDAOMap">
			SELECT M.NICKNAME
			     , GPH.HASHTAG_ID
			     , CC.CODE_CONTENT
			     , GP.GENERAL_POST_ID 
			     , GP.POST_WRITER 
			     , GP.POST_TITLE
			     , GP.POST_CONTENT 
			     , GP.POST_DATE 
			     , GP.VIEW_CNT 
			     , GP.LIKE_CNT 
			     , GPH.*
			  FROM MEMBER M 
			 INNER JOIN GENERAL_POST GP
			    ON GP.POST_WRITER = M.EMAIL
			 INNER JOIN GENERAL_POST_HASHTAG GPH
			    ON GPH.GENERAL_POST_ID = GP.GENERAL_POST_ID
			 INNER JOIN COMMON_CODE CC
			    ON CC.CODE_ID = GPH.HASHTAG_ID
			 WHERE GPH.GENERAL_POST_ID = #{_parameter}
	</select> -->
	
	<!-- <update id="updateOneQnABoard"
		parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET POST_TITLE = #{postTitle}
		     , POST_CONTENT = #{postContent}
		     , POST_DATE = SYSDATE
		 WHERE GENERAL_POST_ID = #{generalPostId}
	</update> -->

    <!-- <update id="deleteOneQnABoard"
	parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET DELETE_YN = 'Y'
		 WHERE GENERAL_POST_ID = #{generalPostId}
	</update> -->
	
	<!-- <update id="updateLikeQnAPost"
	parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
		UPDATE GENERAL_POST
		   SET LIKE_CNT = #{likeCnt} + 1
		 WHERE GENERAL_POST_ID = #{generalPostId}
	</update> -->
	
	<!-- 내게시글 조회 쿼리 -->
	<select id="getMyPost"
	        resultMap="GeneralPostDAOMap"
	        parameterType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
	    SELECT GP.GENERAL_POST_ID
		     , GP.POST_WRITER
		     , GP.BOARD_ID
		     , GP.POST_TITLE
		     , GP.POST_CONTENT
		     , TO_CHAR(GP.POST_DATE, 'YYYY-MM-DD') POST_DATE
		     , GP.LIKE_CNT
		     , GP.VIEW_CNT
		     , GP.DELETE_YN
		     , M.NICKNAME
		  FROM GENERAL_POST GP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = GP.POST_WRITER
		 WHERE GP.DELETE_YN = 'N'
		   AND GP.POST_WRITER = #{postWriter}
		 ORDER BY POST_DATE DESC  
	</select>
	
	<select id="searchAllBoardByKeyword"
	        parameterType="com.ktdsuniversity.edu.generalpost.vo.SearchForumVO"
	        resultMap="GeneralPostDAOMap">
	    SELECT GP.GENERAL_POST_ID
		     , GP.POST_WRITER
		     , GP.BOARD_ID
		     , GP.POST_TITLE
		     , GP.POST_CONTENT
		     , TO_CHAR(GP.POST_DATE, 'YYYY-MM-DD') POST_DATE
		     , GP.LIKE_CNT
		     , GP.VIEW_CNT
		     , GP.DELETE_YN
		     , M.NICKNAME
		  FROM GENERAL_POST GP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = GP.POST_WRITER
		 WHERE GP.DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<if test='searchType == "postTitle"'>
		   AND GP.POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType == "postContent"'>
		   AND GP.POST_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType == "postWriter"'>
		   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
			</if>
		</if>
		 ORDER BY POST_DATE DESC
	</select>

	<!-- 질답의 조회수 순 랭킹 -->
	<select id="getViewRanking">
		SELECT *
		  FROM GENERAL_POST GP
		 WHERE BOARD_ID = 'CC-20231017-000030'
		 ORDER BY VIEW_CNT DESC
	</select>	
	
	<!-- 질답의 좋아요 순 랭킹 -->
	<select id="getLikeRanking">
		SELECT *
		  FROM GENERAL_POST GP
		 WHERE BOARD_ID = 'CC-20231017-000030'
		 ORDER BY LIKE_CNT DESC
	</select>
	
	<!-- 자유 검색 -->
	<!-- <select id="searchAllFreePost"
	        parameterType="com.ktdsuniversity.edu.generalpost.vo.SearchForumVO"
	        resultMap="GeneralPostDAOMap">
	        SELECT GP.POST_WRITER
	             , GP.GENERAL_POST_ID
	        	 , GP.POST_TITLE
	             , GP.POST_CONTENT
	             , TO_CHAR(GP.POST_DATE, 'YYYY-MM-DD HH24:MI') POST_DATE
	             , GP.VIEW_CNT
	             , GP.LIKE_CNT
	             , GP.DELETE_YN
	             , M.NICKNAME
	             , GP.BOARD_ID
	          FROM GENERAL_POST GP
	         INNER JOIN MEMBER M
	            ON M.EMAIL = GP.POST_WRITER
	         WHERE GP.DELETE_YN = 'N'
	           AND GP.BOARD_ID = 'CC-20231017-000029'
	         <if test='searchKeyword != null and searchKeyword != ""'>
			  <if test='searchType == "postTitle"'>
			   AND GP.POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			  </if>
			  <if test='searchType == "postContent"'>
			   AND GP.POST_CONTENT LIKE '%' || #{searchKeyword} || '%'
			  </if>
			  <if test='searchType == "postWriter"'>
			   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
			  </if>
			</if>
			  ORDER BY GP.POST_DATE DESC
	</select> -->
	
	<!-- 질답 검색 -->
	<select id="searchAllPost"
	        parameterType="com.ktdsuniversity.edu.generalpost.vo.SearchForumVO"
	        resultMap="GeneralPostDAOMap">
        SELECT GP.POST_WRITER
             , GP.GENERAL_POST_ID
        	 , GP.POST_TITLE
             , GP.POST_CONTENT
             , TO_CHAR(GP.POST_DATE, 'YYYY-MM-DD') POST_DATE
             , GP.VIEW_CNT
             , GP.LIKE_CNT
             , GP.DELETE_YN
             , M.NICKNAME
             , GP.BOARD_ID
          FROM GENERAL_POST GP
         INNER JOIN MEMBER M
            ON M.EMAIL = GP.POST_WRITER
		<if test='searchType == "hashtagId"'>
         INNER JOIN GENERAL_POST_HASHTAG GPH
            ON GP.GENERAL_POST_ID = GPH.GENERAL_POST_ID
	    </if>
         WHERE GP.DELETE_YN = 'N'
           AND GP.BOARD_ID = #{boardId}
        <if test='searchKeyword != null and searchKeyword != ""'>
			<if test='searchType == "postTitle"'>
		   AND GP.POST_TITLE LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType == "postContent"'>
		   AND GP.POST_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType == "postWriter"'>
		   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType == "hashtagId"'>
		   AND GPH.HASHTAG_ID = #{searchKeyword}
			</if>
		</if>
		  ORDER BY GP.POST_DATE DESC
	</select>
</mapper>