<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.companyrecruit.dao.CompanyRecruitDAO">
	<!-- resultMap -->
	<resultMap type="com.ktdsuniversity.edu.companyrecruit.vo.CompanyRecruitVO"
               id="CompanyRecruitDAOMap"
               autoMapping="true">
        <id column="COMPANY_RECRUIT_POST_ID" property="companyRecruitPostId"></id>
    
    	<association property="CompanyRecruitVO"
    	             javaType="com.ktdsuniversity.edu.companyrecruit.vo.CompanyRecruitVO">
    				 <id column="COMPANY_RECRUIT_POST_ID" property="companyRecruitPostId" />
    				 <result column="POST_WRITER" property="postWriter"/>            
    				 <result column="POST_TITLE" property="postTitle"/>            
    				 <result column="POST_CONTENT" property="postContent"/>            
    				 <result column="POST_DATE" property="postDate"/>            
    				 <result column="RECRUIT_START_DATE" property="recruitStartDate"/>            
    				 <result column="RECRUIT_END_DATE" property="recruitEndDate"/>            
    				 <result column="RECRUIT_PROGRESS_YN" property="recruitProgressYn"/>            
    				 <result column="RECRUIT_TYPE" property="recruitType"/>            
    				 <result column="MIN_CAREER_YEAR" property="minCareerYear"/>            
    				 <result column="MAX_CAREER_YEAR" property="maxCareerYear"/>            
    				 <result column="VIEW_CNT" property="viewCnt"/>            
    				 <result column="LIKE_CNT" property="likeCnt"/>            
    				 <result column="DELETE_YN" property="deleteYn"/>                	             
    	</association>
    
    	<association property="memberVO"
                 javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
		         autoMapping="true">
		         <id column="EMAIL" property="email" />
	    </association>
	    
	    <association property="commonCodeVO"
		    javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO"
		    autoMapping="true">
		    <id column="CODE_ID" property="codeId" />
		</association>
    </resultMap>
	
	<!-- 게시글 수 -->
	<select id="getBoardCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM COMPANY_RECRUIT_POST CRP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = CRP.POST_WRITER
	</select>
	
	<!-- 조회 카운트 -->
	
	
	<!-- 전체 조회 -->
	<select id="getAllBoard">
		SELECT CRP.COMPANY_RECRUIT_POST_ID
			 , CRP.POST_WRITER
			 , CRP.POST_TITLE
			 , CRP.POST_CONTENT
			 , CRP.POST_DATE
			 , CRP.RECRUIT_START_DATE
			 , CRP.RECRUIT_END_DATE
			 , CRP.RECRUIT_PROGRESS_YN
			 , CRP.RECRUIT_TYPE
			 , CRP.MIN_CAREER_YEAR
			 , CRP.MAX_CAREER_YEAR
			 , CRP.VIEW_CNT
			 , CRP.LIKE_CNT
			 , CRP.DELETE_YN
		     , M.NICKNAME
		  FROM COMPANY_RECRUIT_POST CRP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = CRP.POST_WRITER
		 WHERE DELETE_YN = 'N'
		 ORDER BY POST_DATE DESC
	</select>
	
	<!-- 등록 -->
	<insert id="createNewBoard"
	        parameterType="com.ktdsuniversity.edu.companyrecruit.vo.CompanyRecruitVO">
		INSERT INTO COMPANY_RECRUIT_POST
		     (COMPANY_RECRUIT_POST_ID
		      , POST_WRITER
		      , POST_TITLE
		      , POST_CONTENT
		      , POST_DATE
		      , RECRUIT_START_DATE
		      , RECRUIT_END_DATE
		      , RECRUIT_PROGRESS_YN
		      , RECRUIT_TYPE
		      , MIN_CAREER_YEAR
		      , MAX_CAREER_YEAR
		      , VIEW_CNT
		      , LIKE_CNT
		      , DELETE_YN)
		VALUES 
		   ( 'CR-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_COMPANY_RECRUIT_POST_PK.NEXTVAL, 6, '0')
		      , #{postWriter}
		      , #{postTitle}
		      , #{postContent}
		      , SYSDATE
		      , SYSDATE
		      , SYSDATE
		      , 'Y'
		      , 'CC-20231017-000014'
		      , #{minCareerYear}
		      , #{maxCareerYear}
		      , 0
		      , 0
		      , 'N')
	</insert>
	
	<!-- 단건 조회 -->
	<select id="getOneRecruitBoard"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.companyrecruit.vo.CompanyRecruitVO">
		SELECT CRP.COMPANY_RECRUIT_POST_ID
			 , CRP.POST_WRITER
			 , CRP.POST_TITLE
			 , CRP.POST_CONTENT
			 , CRP.POST_DATE
			 , CRP.RECRUIT_START_DATE
			 , CRP.RECRUIT_END_DATE
			 , CRP.RECRUIT_PROGRESS_YN
			 , CRP.RECRUIT_TYPE
			 , CRP.MIN_CAREER_YEAR
			 , CRP.MAX_CAREER_YEAR
			 , CRP.VIEW_CNT
			 , CRP.LIKE_CNT
			 , CRP.DELETE_YN
		  FROM COMPANY_RECRUIT_POST CRP
		 INNER JOIN MEMBER M
		    ON M.EMAIL = CRP.POST_WRITER
		 WHERE COMPANY_RECRUIT_POST_ID = #{_parameter}
	</select>
	
	<!-- 수정 -->
	<update id="updateOneRecruitBoard"
	        parameterType="com.ktdsuniversity.edu.companyrecruit.vo.CompanyRecruitVO">
		UPDATE COMPANY_RECRUIT_POST
		   SET POST_TITLE = #{postTitle}
		     , POST_CONTENT = #{postContent}
		     , POST_DATE = SYSDATE
		 WHERE COMPANY_RECRUIT_POST_ID = #{companyRecruitPostId}
	</update>
	
	<!-- 삭제 -->

</mapper>