<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.myalgorithm.dao.MyAlgorithmDAO">
	<resultMap type="com.ktdsuniversity.edu.myalgorithm.vo.MyAlgorithmVO"
			   id="myAlgorithmVOMap"
			   autoMapping="true">
		<id column="MY_ALGORITHM_QUESTION_ID" property="myAlgorithmQuestionId"/>
		<association property="MemberVO"
					 javaType="com.ktdsuniversity.edu.member.vo">
			<id column="EMAIL" property="email"/>
			<result column="NICKNAME" property="nickname" />
			<association property="CompanyAlgorithmQuestionVO"
						 javaType="com.ktdsuniversity.edu.companyalgorithmquestion.vo">
				<id column="ALGORITHM_CATEGORY_ID" property="algorithmCategoryId"/>
				<result column="ALGORITHM_TIER_ID" property="algorithmTierId" />
				<result column="POST_WRITER" property="postWriter" />
				<result column="POST_TITLE" property="postTitle" />
				<result column="POST_CONTENT" property="postContent" />
				<result column="VIEW_CNT" property="viewCnt" />
				<result column="LIKE_CNT" property="likeCnt" />
			</association>
		</association>
	</resultMap>
	<select id="getAllNumber"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM MY_ALGOTIRHM_QUESTION
		 WHERE GENERAL_MEMBER_EMAIL = #{parameter}
	</select>
	<select id="getAllMyAlgorithmList"
			parameterType="string"
			resultMap="myAlgorithmVOMap">
		SELECT M.EMAIL 
		     , M.NICKNAME 
		     , CAQ.ALGORITHM_CATEGORY_ID 
		     , CAQ.ALGORITHM_TIER_ID 
		     , CAQ.POST_WRITER 
		     , CAQ.POST_TITLE 
		     , CAQ.POST_CONTENT 
		     , CAQ.VIEW_CNT 
		     , CAQ.LIKE_CNT 
		  FROM MEMBER M
		 INNER JOIN MY_ALGOTIRHM_QUESTION MAQ
		    ON MAQ.GENERAL_MEMBER_EMAIL = M.EMAIL 
		 INNER JOIN COMPANY_ALGOTIRHM_QUESTION CAQ
		    ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = MAQ.COMPANY_ALGORITHM_QUESTION_ID 
		 WHERE M.EMAIL = #{parameter}
	</select>
</mapper>