<!-- 
	작성자: 김태현
	작성일자: 2023-10-01
	내용: 내가 제출했던 문제들에 대한 쿼리
 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ktdsuniversity.edu.myalgorithm.dao.MyAlgorithmDAO">
	<resultMap type="com.ktdsuniversity.edu.myalgorithm.vo.MyAlgorithmVO"
		id="MyAlgorithmDAOMap" autoMapping="true">
		<id column="MY_ALGORITHM_QUESTION_ID"
			property="myAlgorithmQuestionId" />
		<association property="memberVO"
			javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
			autoMapping="true">
			<id column="EMAIL" property="email" />
		</association>
		<association property="algorithmQuestionVO"
		    javaType="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO"
		    autoMapping="true">
		    <id column="COMPANY_ALGORITHM_QUESTION_ID" property="companyAlgorithmQuestionId" />
		</association>
		<association property="commonCodeVO"
		    javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO"
		    autoMapping="true">
		    <id column="CODE_ID" property="codeId" />
		</association>
		<association property="companyInfoVO"
		    javaType="com.ktdsuniversity.edu.companyinfo.vo.CompanyInfoVO"
		    autoMapping="true">
		    <id column="COMPANY_EMAIL" property="companyEmail" />
		</association>
	</resultMap>
	
	<select id="getAllNumber"
			parameterType="com.ktdsuniversity.edu.myalgorithm.vo.SearchMyAlgorithmVO"
			resultType="_int">
		SELECT COUNT(1)
		  FROM MY_ALGORITHM_QUESTION MAQ
		 INNER JOIN MEMBER M
		    ON M.EMAIL = MAQ.GENERAL_MEMBER_EMAIL
		 INNER JOIN COMPANY_ALGORITHM_QUESTION CAQ
		    ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = MAQ.COMPANY_ALGORITHM_QUESTION_ID
		 INNER JOIN COMMON_CODE CC
		    ON CC.CODE_ID = CAQ.MAIN_ALGORITHM_CATEGORY_ID
		 INNER JOIN COMPANY C
		    ON C.COMPANY_NAME = CAQ.ALGORITHM_WRITER 
		 WHERE MAQ.GENERAL_MEMBER_EMAIL = #{email}
		   AND MAQ.DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<if test='searchType=="subject"'>
		   AND CAQ.ALGORITHM_TITLE LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="content"'>
		   AND CAQ.ALGORITHM_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="category"'>
		   AND CC.CODE_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="tier"'>
		   AND CAQ.ALGORITHM_TIER_ID LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="company_name"'>
		   AND CAQ.ALGORITHM_WRITER LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="correctYN"'>
		   AND MAQ.CORRECT_ANSWER_YN LIKE '%' || #{searchKeyword} || '%'
			</if>
		</if>
	</select>

	<select id="getAllMyAlgorithmList"
			parameterType="com.ktdsuniversity.edu.myalgorithm.vo.SearchMyAlgorithmVO"
			resultMap="MyAlgorithmDAOMap">
		SELECT MAQ.MY_ALGORITHM_QUESTION_ID
		     , MAQ.GENERAL_MEMBER_EMAIL
		     , MAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , MAQ.MY_ANSWER
		     , MAQ.CORRECT_ANSWER_YN
		     , MAQ.DELETE_YN
		     , CAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , CAQ.ALGORITHM_TITLE 
		     , CAQ.ALGORITHM_WRITER
		     , CAQ.ALGORITHM_CONTENT
		     , CAQ.VIEW_CNT 
             , CAQ.LIKE_CNT 
             , CAQ.ALGORITHM_TIER_ID 
             , CC.CODE_CONTENT
		     , C.COMPANY_NAME 
		     , M.NICKNAME
		  FROM MY_ALGORITHM_QUESTION MAQ
		 INNER JOIN MEMBER M
		    ON M.EMAIL = MAQ.GENERAL_MEMBER_EMAIL
		 INNER JOIN COMPANY_ALGORITHM_QUESTION CAQ
		    ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = MAQ.COMPANY_ALGORITHM_QUESTION_ID
		 INNER JOIN COMMON_CODE CC
		    ON CC.CODE_ID = CAQ.MAIN_ALGORITHM_CATEGORY_ID
		 INNER JOIN COMPANY C
		    ON C.COMPANY_EMAIL = CAQ.ALGORITHM_WRITER 
		 WHERE MAQ.GENERAL_MEMBER_EMAIL = #{email}
		   AND MAQ.DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<if test='searchType=="subject"'>
		   AND CAQ.ALGORITHM_TITLE LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="content"'>
		   AND CAQ.ALGORITHM_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="category"'>
		   AND CC.CODE_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="tier"'>
		   AND CAQ.ALGORITHM_TIER_ID  LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="company_name"'>
		   AND C.COMPANY_NAME LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="correctYN"'>
		   AND MAQ.CORRECT_ANSWER_YN LIKE '%' || #{searchKeyword} || '%'
			</if>
		</if>
	</select>
	
	<select id="searchAllMyAlgorithm"
			parameterType="com.ktdsuniversity.edu.myalgorithm.vo.SearchMyAlgorithmVO"
			resultMap="MyAlgorithmDAOMap">
		<include refid="common.pagination_header" />
		SELECT MAQ.MY_ALGORITHM_QUESTION_ID
		     , MAQ.GENERAL_MEMBER_EMAIL
		     , MAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , MAQ.MY_ANSWER
		     , MAQ.CORRECT_ANSWER_YN
		     , MAQ.DELETE_YN
		     , M.NICKNAME 
		     , CAQ.ALGORITHM_TITLE 
		     , CAQ.ALGORITHM_WRITER 
		     , CAQ.ALGORITHM_CONTENT 
		     , CAQ.VIEW_CNT 
		     , CAQ.LIKE_CNT 
		     , CAQ.ALGORITHM_TIER_ID 	
		     , CC.CODE_CONTENT 
		  FROM MY_ALGORITHM_QUESTION MAQ
		 INNER JOIN MEMBER M
		    ON M.EMAIL = MAQ.GENERAL_MEMBER_EMAIL
		 INNER JOIN COMPANY_ALGORITHM_QUESTION CAQ
		    ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = MAQ.COMPANY_ALGORITHM_QUESTION_ID 
		 INNER JOIN COMMON_CODE CC
		    ON CC.CODE_ID = CAQ.MAIN_ALGORITHM_CATEGORY_ID 
		 INNER JOIN COMPANY C
		    ON C.COMPANY_NAME = CAQ.ALGORITHM_WRITER 
		 WHERE GENERAL_MEMBER_EMAIL = #{email}
 		   AND MAQ.DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
			<if test='searchType=="subject"'>
		   AND CAQ.ALGORITHM_TITLE LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="content"'>
		   AND CAQ.ALGORITHM_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="category"'>
		   AND CC.CODE_CONTENT LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="tier"'>
		   AND CAQ.ALGORITHM_TIER_ID  LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="company_name"'>
		   AND C.COMPANY_NAME LIKE '%' || #{searchKeyword} || '%'
			</if>
			<if test='searchType=="correctYN"'>
		   AND MAQ.CORRECT_ANSWER_YN LIKE '%' || #{searchKeyword} || '%'
			</if>
		</if>
		<include refid="common.pagination_footer" />
	</select>
	
	<insert id="createNewMyAlgorithm"
	        parameterType="com.ktdsuniversity.edu.myalgorithm.vo.MyAlgorithmVO">
	    INSERT INTO MY_ALGORITHM_QUESTION
		 (MY_ALGORITHM_QUESTION_ID
        , GENERAL_MEMBER_EMAIL
        , COMPANY_ALGORITHM_QUESTION_ID
        , SUBMIT_DATE
        , MY_ANSWER
        , CORRECT_ANSWER_YN
        , DELETE_YN)
        VALUES
         ('MA-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_MY_ALGORITHM_QUESTION_PK.NEXTVAL, 6, '0')
        , #{generalMemberEmail}
        , #{companyAlgorithmQuestionId}
        , SYSDATE
        , #{myAnswer}
        , #{correctAnswerYn}
        , 'N')
	</insert>
	
	<update id="deleteMyAlgorithm"
	        parameterType="string">
	    UPDATE MY_ALGORITHM_QUESTION
	       SET DELETE_YN = 'Y'
	     WHERE MY_ALGORITHM_QUESTION_ID = #{_parameter}
	</update>
</mapper>