<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.ktdsuniversity.edu.myalgorithm.dao.MyAlgorithmDAO">
	<resultMap type="com.ktdsuniversity.edu.myalgorithm.vo.MyAlgorithmVO"
		id="MyAlgorithmDAOMap" autoMapping="true">
		<id column="MY_ALGORITHM_QUESTION_ID"
			property="myAlgorithmQuestionId" />
		<association property="memberVO"
			javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
			autoMapping="true">
			<id column="EMAIL" property="email" />
		</association>
		<association property="algorithmQuestionVO"
			javaType="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO"
			autoMapping="true">
			<id column="COMPANY_ALGORITHM_QUESTION_ID"
				property="companyAlgorithmQuestionId" />
		</association>
	</resultMap>
	
	<select id="getAllNumber"
			parameterType="string"
			resultType="_int">
		SELECT COUNT(1)
		  FROM MEMBER M
		 INNER JOIN MY_ALGOTIRHM_QUESTION MAQ
		    ON MAQ.GENERAL_MEMBER_EMAIL = M.EMAIL 
		 INNER JOIN COMPANY_ALGORITHM_QUESTION CAQ
		    ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = MAQ.COMPANY_ALGORITHM_QUESTION_ID
		 WHERE M.EMAIL = #{_parameter}
	</select>
	<select id="getAllMyAlgorithmList"
			parameterType="string"
			resultMap="MyAlgorithmDAOMap">
		SELECT M.EMAIL 
		     , M.NICKNAME 
		     , CAQ.ALGORITHM_CATEGORY_ID 
		     , CAQ.ALGORITHM_TIER_ID 
		     , CAQ.POST_WRITER 
		     , CAQ.POST_TITLE 
		     , CAQ.POST_CONTENT 
		     , CAQ.VIEW_CNT 
		     , CAQ.LIKE_CNT
		     , MAQ.CORRECT_ANSWER_YN
		     , MAQ.DELETE_YN
		     , MAQ.MY_ANSWER 
		  FROM MEMBER M
		 INNER JOIN MY_ALGOTIRHM_QUESTION MAQ
		    ON MAQ.GENERAL_MEMBER_EMAIL = M.EMAIL 
		 INNER JOIN COMPANY_ALGORITHM_QUESTION CAQ
		    ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = MAQ.COMPANY_ALGORITHM_QUESTION_ID
		 WHERE M.EMAIL = #{_parameter}
	</select>
	
	<insert id="createNewMyAlgorithm"
	        parameterType="com.ktdsuniversity.edu.myalgorithm.vo.MyAlgorithmVO">
		INSERT INTO MY_ALGORITHM_QUESTION
		 (MY_ALGORITHM_QUESTION_ID
        , GENERAL_MEMBER_EMAIL
        , COMPANY_ALGORITHM_QUESTION_ID
        , MY_ANSWER
        , CORRECT_ANSWER_YN
        , DELETE_YN)
        VALUES
         (SEQ_MY_ALGORITHM_QUESTION_PK.NEXTVAL
        , #{email}
        , #{companyAlgorithmQuestionId}
        , #{myAnswer}
        , CASE WHEN DBMS_RANDOM.NORMAL >= 0 THEN 'Y' ELSE 'N' END <!-- 랜덤으로 줘야 함 -->
        , 'N')
	</insert>
	
</mapper>