<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.companynews.dao.CompanyNewsDAO">
	<select id="getCompanyNewsAllCount"
	        resultType="_int">
		SELECT COUNT(COMPANY_NEWS_POST_ID)
		  FROM COMPANY_NEWS_POST
	</select>
	
	<!-- 
	<resultMap type="com.ktdsuniversity.edu.companynews.vo.CompanyNewsVO"
	           id="companyNewsVOMap"
	           autoMapping="true">
	    <id column="COMPANY_NEWS_POST_ID" property="companyNewsPostId" />
		<association property=""
		             javaType=""
		             autoMapping="">
			<id column="" property="" />
		</association>
	</resultMap>
	-->
	
	<select id="getAllCompanyNews" 
	        resultType="com.ktdsuniversity.edu.companynews.vo.CompanyNewsVO">
		SELECT COMPANY_NEWS_POST_ID
		     , POST_WRITER
		     , POST_TITLE
		     , POST_CONTENT
		     , TO_CHAR(POST_DATE, 'YYYY-MM-DD') POST_DATE
             , FILE_NAME
             , ORIGIN_FILE_NAME
		     , VIEW_CNT
		     , LIKE_CNT
		     , DELETE_YN
		  FROM COMPANY_NEWS_POST
		 ORDER BY POST_DATE ASC <!-- 작성날짜 오름차순 -->
	</select>
	
	<insert id="createNewCompanyNews"
	        parameterType="com.ktdsuniversity.edu.companynews.vo.CompanyNewsVO">
		INSERT INTO COMPANY_NEWS_POST
		 (COMPANY_NEWS_POST_ID
		, POST_WRITER
		, POST_TITLE
		, POST_CONTENT
		, POST_DATE
        , FILE_NAME
        , ORIGIN_FILE_NAME
		, VIEW_CNT
		, LIKE_CNT
		, DELETE_YN)
		VALUES
		 (SEQ_COMPANY_NEWS_POST_PK.NEXTVAL
		, #{postWriter}
		, #{postTitle}
		, #{postContent}
		, SYSDATE
        , #{fileName}
        , #{originFileName}
		, 0
		, 0
		, 'N')
	</insert>
	
	<update id="increaseViewCount"
	        parameterType="string">
		UPDATE COMPANY_NEWS_POST
		   SET VIEW_CNT = VIEW_CNT + 1
		 WHERE COMPANY_NEWS_POST_ID = #{_parameter}
	</update>
	
	<select id="getOneCompanyNews"
	        parameterType="string"
	        resultType="com.ktdsuniversity.edu.companynews.vo.CompanyNewsVO">
		SELECT COMPANY_NEWS_POST_ID
		     , POST_WRITER
		     , POST_TITLE
		     , POST_CONTENT
		     , TO_CHAR(POST_DATE, 'YYYY-MM-DD') POST_DATE
             , FILE_NAME
             , ORIGIN_FILE_NAME
		     , VIEW_CNT
		     , LIKE_CNT
		     , DELETE_YN
		  FROM COMPANY_NEWS_POST
		 WHERE COMPANY_NEWS_POST_ID = #{_parameter}
	</select>
	
	<update id="updateOneCompanyNews"
	        parameterType="com.ktdsuniversity.edu.companynews.vo.CompanyNewsVO">
		UPDATE COMPANY_NEWS_POST
		   SET POST_TITLE = #{postTitle}
		     , POST_CONTENT = #{postContent}
		     <if test='fileName != null and fileName != ""'>
		     , FILE_NAME = #{fileName}
		     , ORIGIN_FILE_NAME = #{originFileName}
		     </if>
		 WHERE COMPANY_NEWS_POST_ID = #{companyNewsPostId}
	</update>
	
	<update id="deleteOneCompanyNews"
	        parameterType="com.ktdsuniversity.edu.companynews.vo.CompanyNewsVO">
		UPDATE COMPANY_NEWS_POST
		   SET DELETE_YN = 'Y'
		 WHERE COMPANY_NEWS_POST_ID = #{companyNewsPostId}
	</update>
</mapper>