<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.generalmember.dao.GeneralMemberDAO">
 
	 <resultMap type="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO"
			   id="generalMemberVOMap"
			   autoMapping="true">
		<id column="GENERAL_MEMBER_EMAIL" property="generalMemberEmail" />
		<result column="SELF_INTRO" property="selfIntro" />
		<result column="GITHUB_URL" property="githubUrl" />
		<result column="ADDITIONAL_EMAIL" property="additionalEmail" />
		<result column="BLOG_URL" property="blogUrl" />
		<result column="REGION" property="region" />
		<result column="JOB_ID" property="jobId" />
		<result column="TIER_ID" property="tierId" />
		<result column="TIER_SCORE" property="tierScore" />
		<result column="TIER_DATE" property="tierDate" />
		
		<association property="tierVO"
					 javaType="com.ktdsuniversity.edu.tier.TierVO">
			<id column="TIER_ID" property="tierId" />
			<result column="TIER_NAME" property="tierName" />
			<result column="TIER_CRITERIA_SCORE" property="tierCriteriaScore" />
			<result column="TIER_IMAGE_URL" property="tierImageUrl" />
		</association>
	</resultMap>

	<select id="getAllCareerListByMemberEmail"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.career.vo.CareerVO">
		SELECT CAREER_ID
			 , GENERAL_MEMBER_EMAIL
			 , PREVIOUS_COMPANY_NAME
			 , JOB_TITLE
			 , TO_CHAR(HIRE_DATE,'yyyy-MM-dd') HIRE_DATE
			 , TO_CHAR(RESIGN_DATE,'yyyy-MM-dd') RESIGN_DATE
	      FROM CAREER
	     WHERE GENERAL_MEMBER_EMAIL = #{_parameter}
	     ORDER BY HIRE_DATE DESC
	</select>
	<select id="getAllGeeralMemberList"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		SELECT GENERAL_MEMBER_EMAIL
             , SELF_INTRO
             , JOB_ID
             , REGION
             , TIER_ID
             , GITHUB_URL
             , ADDITIONAL_EMAIL
             , BLOG_URL
  		  FROM GENERAL_MEMBER
	     WHERE GENERAL_MEMBER_EMAIL = #{_parameter}
	</select>
	<select id="getAllEducationList"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.education.vo.EducationVO">
		SELECT EDUCATION_ID
			 , GENERAL_MEMBER_EMAIL
			 , SCHOOL_NAME
			 , SCHOOL_DEPARTMENT
			 , DEGREES
	      FROM EDUCATION
	     WHERE GENERAL_MEMBER_EMAIL = #{_parameter}
	     ORDER BY DEGREES DESC
	</select>
	
	<select id="getSelectNickname"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
			SELECT NICKNAME
			     , PROFILE_PIC
			     , EMAIL
			  FROM MEMBER
			 WHERE EMAIL =#{_parameter}
	
	</select>
	<select id="getSelectGeneralMember"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		SELECT GENERAL_MEMBER_EMAIL
             , SELF_INTRO
             , JOB_ID
             , REGION
             , TIER_ID
             , GITHUB_URL
             , ADDITIONAL_EMAIL
             , BLOG_URL
		  FROM GENERAL_MEMBER
		 WHERE GENERAL_MEMBER_EMAIL =#{_parameter}	
	</select>
	<update id="updateOneAddress"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET REGION = #{region}
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	<update id="deleteOneAddress"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET REGION = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="updateSns"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET GITHUB_URL = #{githubUrl}
		   	 , ADDITIONAL_EMAIL =#{additionalEmail}
             , BLOG_URL = #{blogUrl}
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteGithub"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET GITHUB_URL = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteEmail"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET ADDITIONAL_EMAIL = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteBlog"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET BLOG_URL = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="updateselfIntro"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET SELF_INTRO = #{selfIntro}
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteSelfIntro"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET SELF_INTRO = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<select id="getSelectCommonCode"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO">
		SELECT CODE_CONTENT
 		  FROM COMMON_CODE 
 	 	 WHERE CODE_ID IN(SELECT HASHTAG_ID
 				  	        FROM TECHSTACK
 				           WHERE EMAIL = #{_parameter})
	</select>
	
	<update id="updateTierId"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET TIER_ID = #{tierId}
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}
	</update>
	
	<update id="updateTierDate"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET TIER_DATE = SYSDATE
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}
	</update>
	
	<select id="selectMemberActivityLog"
			parameterType="string"
			resultType="map">
		SELECT GM.GENERAL_MEMBER_EMAIL 
			 , GP.GENERAL_POST_ID
			 , 'POST' TYPE
		  FROM GENERAL_MEMBER GM
		  JOIN GENERAL_POST GP
		    ON GM.GENERAL_MEMBER_EMAIL = GP.POST_WRITER
		 WHERE GM.GENERAL_MEMBER_EMAIL = #{_parameter}
		 UNION ALL
		SELECT GM.GENERAL_MEMBER_EMAIL
			 , GC.GENERAL_COMMENT_ID
			 , 'COMMENT'
		  FROM GENERAL_MEMBER GM
		  JOIN GENERAL_COMMENT GC
			ON GM.GENERAL_MEMBER_EMAIL = GC.COMMENT_WRITER
		 WHERE GC.COMMENT_WRITER = #{_parameter}
	</select>
	
	<select id="selectTopTenScoreMemberList"
			resultMap="generalMemberVOMap">
		SELECT GM.*
		     , T.TIER_NAME
		     , M.PROFILE_PIC
  		  FROM (
  				SELECT *
  		  		FROM GENERAL_MEMBER
 		 		ORDER BY TIER_SCORE DESC
				) GM
		  JOIN TIER T
    		ON GM.TIER_ID = T.TIER_ID
    	  JOIN MEMBER M
    	    ON GM.GENERAL_MEMBER_EMAIL = M.EMAIL
 		 WHERE ROWNUM <![CDATA[<=]]> 10
	</select>
	
</mapper>