<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.generalmember.dao.GeneralMemberDAO">
	<select id="getAllCareerListByMemberEmail"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.career.vo.CareerVO">
		SELECT PREVIOUS_COMPANY_NAME
			 , JOB_TITLE
			 , TO_CHAR(HIRE_DATE,'yyyy-MM-dd') HIRE_DATE
			 , TO_CHAR(RESIGN_DATE,'yyyy-MM-dd') RESIGN_DATE
	      FROM CAREER
	     WHERE GENERAL_MEMBER_EMAIL = #{_parameter}
	     ORDER BY HIRE_DATE DESC
	</select>
	<select id="getAllGeeralMemberList"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		SELECT GENERAL_MEMBER_EMAIL
             , SELF_INTRO
             , JOB_ID
             , REGION
             , TIER_ID
             , GITHUB_URL
             , ADDITIONAL_EMAIL
             , BLOG_URL
  		  FROM GENERAL_MEMBER
	     WHERE GENERAL_MEMBER_EMAIL = #{_parameter}
	</select>
	<select id="getAllEducationList"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.education.vo.EducationVO">
		SELECT SCHOOL_NAME
			 , SCHOOL_DEPARTMENT
			 , DEGREES
	      FROM EDUCATION
	     WHERE GENERAL_MEMBER_EMAIL = #{_parameter}
	     ORDER BY DEGREES DESC
	</select>
	
	<select id="getSelectNickname"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
			SELECT NICKNAME
			     , PROFILE_PIC
			  FROM MEMBER
			 WHERE EMAIL =#{_parameter}
	
	</select>
	<select id="getSelectGeneralMember"
			parameterType="string"
			resultType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		SELECT GENERAL_MEMBER_EMAIL
             , SELF_INTRO
             , JOB_ID
             , REGION
             , TIER_ID
             , GITHUB_URL
             , ADDITIONAL_EMAIL
             , BLOG_URL
		  FROM GENERAL_MEMBER
		 WHERE GENERAL_MEMBER_EMAIL =#{_parameter}	
	</select>
	<update id="updateOneAddress"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET REGION = #{region}
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	<update id="deleteOneAddress"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET REGION = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="updateSns"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET GITHUB_URL = #{githubUrl}
		   	 , ADDITIONAL_EMAIL =#{additionalEmail}
             , BLOG_URL = #{blogUrl}
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteGithub"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET GITHUB_URL = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteEmail"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET ADDITIONAL_EMAIL = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteBlog"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET BLOG_URL = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="updateselfIntro"
			parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		UPDATE GENERAL_MEMBER
		   SET SELF_INTRO = #{selfIntro}
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
	
	<update id="deleteSelfIntro"
			parameterType="string">
		UPDATE GENERAL_MEMBER
		   SET SELF_INTRO = NULL
		 WHERE GENERAL_MEMBER_EMAIL = #{generalMemberEmail}	
	</update>
</mapper>