<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper
	namespace="com.ktdsuniversity.edu.generalmember.dao.GeneralMemberDAO">
	<insert id="createNewGeneralMember"
		parameterType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO">
		INSERT INTO GENERAL_MEMBER
		( GENERAL_MEMBER_EMAIL
		, SELF_INTRO
		, JOB_ID
		, REGION
		, TIER_ID
		, GITHUB_URL
		, ADDITIONAL_EMAIL
		, BLOG_URL
		, TIER_SCORE
		, TIER_DATE
		)
		VALUES
		( #{email}
		, NULL
		, NULL
		, NULL
		, 'TI-20231030-000001'
		, NULL
		, NULL
		, NULL
		, 0
		, SYSDATE)
	</insert>


</mapper>