<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.member.dao.MemberDAO">
	<select id="getEmailCount" parameterType="string">
		SELECT COUNT(1)
		FROM "MEMBER"
		WHERE EMAIL = #{_parameter}
	</select>
	<select id="getNicknameCount" parameterType="string">
		SELECT COUNT(1)
		FROM "MEMBER"
		WHERE NICKNAME = #{_parameter}
	</select>
	
	<insert id="createNewMember"
		parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		INSERT INTO "MEMBER"
		( EMAIL
		, PW
		, SALT
		, NICKNAME
		, INFO_AGREEMENT_YN
		, PROFILE_PIC
		, REGIST_DATE
		, MEMBER_TYPE
		, WITHDRAW_YN)
		VALUES
		<if test='memberType == "COMPANY"'>
		( #{companyEmail}
		, #{pw}
		, #{salt}
		, #{nickname}
		</if>
		<if test='memberType == "GENERAL"'>
		( #{email}
		, #{pw}
		, #{salt}
		, #{nickname}
		</if>
		, 'Y'
		, 'https://w7.pngwing.com/pngs/384/868/png-transparent-person-profile-avatar-user-basic-ui-icon.png'
		, SYSDATE
		, #{memberType}
		, 'N' )
	</insert>
	
<!-- 로그인 쿼리 -->
	<select id="getSalt"
			parameterType="string"
			resultType="string">
	SELECT SALT
	  FROM "MEMBER" 
	 WHERE EMAIL =#{_parameter}
	</select>
	
	<select id="getMember"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO"
			resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
		SELECT EMAIL
			 , PW
			 , SALT
			 , NICKNAME
			 , INFO_AGREEMENT_YN
			 , PROFILE_PIC
			 , SYSDATE
			 , MEMBER_TYPE
			 , WITHDRAW_YN
		  FROM "MEMBER"
		 WHERE EMAIL = #{email}
		   AND PW = #{pw}
	</select>
	
	<select id="getOneFile"
	        parameterType="string"
	        resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
		SELECT EMAIL
			 , PROFILE_PIC
			 , REGIST_DATE
		  FROM "MEMBER"
		 WHERE EMAIL = #{_parameter}
	</select>
	
	<update id="updateWithdrawMember"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE MEMBER
   		   SET WITHDRAW_YN = 'Y'
 		 WHERE EMAIL = #{email}
	</update>
	
	<update id="updateCompanyPassword"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE MEMBER
   		   SET PW = #{pw}
 		 WHERE EMAIL = #{email}
	</update>
	

</mapper>