<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.member.dao.MemberDAO">
		
	<select id="getEmailCount" parameterType="string">
		SELECT COUNT(1)
		FROM "MEMBER"
		WHERE EMAIL = #{_parameter}
	</select>
	<select id="getNicknameCount" parameterType="string">
		SELECT COUNT(1)
		FROM "MEMBER"
		WHERE NICKNAME = #{_parameter}
	</select>
	
	<insert id="createNewMember"
		parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		INSERT INTO "MEMBER"
		( EMAIL
		, PW
		, SALT
		, NICKNAME
		, INFO_AGREEMENT_YN
		, PROFILE_PIC
		, REGIST_DATE
		, MEMBER_TYPE
		, WITHDRAW_YN)
		VALUES
		<if test='memberType == "COMPANY"'>
		( #{companyEmail}
		, #{pw}
		, #{salt}
		, #{nickname}
		</if>
		<if test='memberType == "GENERAL"'>
		( #{email}
		, #{pw}
		, #{salt}
		, #{nickname}
		</if>
		, 'Y'
		, 'https://w7.pngwing.com/pngs/384/868/png-transparent-person-profile-avatar-user-basic-ui-icon.png'
		, SYSDATE
		, #{memberType}
		, 'N' )
	</insert>
	
<!-- 로그인 쿼리 -->
	<select id="getSalt"
			parameterType="string"
			resultType="string">
	SELECT SALT
	  FROM "MEMBER" 
	 WHERE EMAIL =#{_parameter}
	</select>
	
	<select id="getMember"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO"
			resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
		SELECT EMAIL
			 , PW
			 , SALT
			 , NICKNAME
			 , INFO_AGREEMENT_YN
			 , PROFILE_PIC
			 , SYSDATE
			 , MEMBER_TYPE
			 , WITHDRAW_YN
		  FROM "MEMBER"
		 WHERE EMAIL = #{email}
		   AND PW = #{pw}
	</select>
	
	<select id="getOneFile"
	        parameterType="string"
	        resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
		SELECT EMAIL
			 , PROFILE_PIC
			 , REGIST_DATE
		  FROM "MEMBER"
		 WHERE EMAIL = #{_parameter}
	</select>
	
	<select id="searchAllMemberByKeyword"
	        parameterType="com.ktdsuniversity.edu.member.vo.SearchMemberVO"
	        resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
	    SELECT EMAIL
			 , PW
			 , SALT
			 , NICKNAME
			 , INFO_AGREEMENT_YN
			 , PROFILE_PIC
			 , TO_CHAR(REGIST_DATE, 'YYYY-MM-DD HH24:MI:SS') REGIST_DATE
			 , MEMBER_TYPE
			 , WITHDRAW_YN
		  FROM MEMBER
		 WHERE WITHDRAW_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
		   AND NICKNAME LIKE '%' || #{searchKeyword} || '%'
		</if>
	</select>
	
	<select id="searchGemeralTypeMemberList"
			resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
		SELECT EMAIL
		     , NICKNAME 
		     , PROFILE_PIC 
		  FROM MEMBER
		 WHERE MEMBER_TYPE = 'GENERAL'
	</select>
	
	<select id="searchCompanyTypeMemberList"
			resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
		SELECT EMAIL
		     , NICKNAME 
		     , PROFILE_PIC 
		  FROM MEMBER
		 WHERE MEMBER_TYPE = 'COMPANY'
	</select>
	
	<update id="updateWithdrawMember"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE MEMBER
   		   SET WITHDRAW_YN = 'Y'
 		 WHERE EMAIL = #{email}
	</update>
	
	<update id="updateCompanyPassword"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE MEMBER
   		   SET PW = #{pw}
 		 WHERE EMAIL = #{email}
	</update>
	
	<select id="searchMember"
	        parameterType="string"
	        resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
	   SELECT NICKNAME
		     , MEMBER_TYPE
		  FROM MEMBER
		 WHERE MEMBER_TYPE = #{_parameter}
	</select>
	<select id="selectMemberinfo"
	        parameterType="string"
	        resultType="com.ktdsuniversity.edu.member.vo.MemberVO">
		SELECT EMAIL
			 , PW
			 , SALT
			 , NICKNAME
			 , INFO_AGREEMENT_YN
			 , PROFILE_PIC
			 , REGIST_DATE
			 , MEMBER_TYPE
			 , WITHDRAW_YN
		  FROM "MEMBER"
		 WHERE EMAIL = #{_parameter}
	</select>
	<update id="updateMemberNickname"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE MEMBER
   		   SET NICKNAME = #{nickname}
 		 WHERE EMAIL = #{email}
	</update>
	<update id="updateMemberPW"
			parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE MEMBER
   		   SET PW = #{pw}
 		 WHERE EMAIL = #{email}
	</update>
	
	<update id="updateOneFile"
		parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE "MEMBER"
		   SET 	PROFILE_PIC=#{profilePic}
		 WHERE EMAIL=#{email}
	</update>
	<update id="deleteProfile"
		parameterType="com.ktdsuniversity.edu.member.vo.MemberVO">
		UPDATE "MEMBER"
		   SET 	PROFILE_PIC='https://w7.pngwing.com/pngs/384/868/png-transparent-person-profile-avatar-user-basic-ui-icon.png'
		 WHERE EMAIL=#{email}
	</update>
</mapper>