<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.companymember.dao.CompanyDAO">

	<select id="getCompanyEmailCount"
			parameterType="string">
		SELECT COUNT(*)
	  	  FROM COMPANY
	 	 WHERE COMPANY_EMAIL = #{_parameter}
	</select>

	<insert id="createNewCompanyMember"
			parameterType="com.ktdsuniversity.edu.companymember.vo.CompanyVO">
		INSERT INTO COMPANY (COMPANY_EMAIL
			 , CONTACT_NUMBER
			 , CONTACT_NAME
			 , COMPANY_NAME
			 , INDUSTRY_TYPE
			 , COMPANY_REGIST_NUMBER
			 , COMPANY_REGIST_CERTIFICATE_URL
			 , ADDRESS
			 , SALES
			 , STAFF_CNT
			 , INVESTMENT
			 , COMPANY_INTRO
			 , HOME_URL
			 , CONFIRM_YN
			 , COMPANY_ORIGIN_REGIST_CERTIFICATE_URL)
		VALUES (#{companyEmail}
			  , #{contactNumber}
			  , '담당자'
			  , ''
			  , ''
			  , ''
			  , #{companyRegistCertificateUrl}
			  , ''
			  , ''
			  , ''
			  , ''
			  , ''
			  , ''
			  , #{confirmYn}
			  , #{companyOriginRegistCertificateUrl})
	</insert>
	
	<select id="companyMemberAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM COMPANY
	</select>
	
	<select id="CompanyMemberAllList"
			resultType="com.ktdsuniversity.edu.companymember.vo.CompanyVO">
		SELECT COMPANY_EMAIL
			  , CONTACT_NUMBER
			  , CONTACT_NAME
			  , COMPANY_NAME
			  , INDUSTRY_TYPE
			  , COMPANY_REGIST_NUMBER
			  , COMPANY_REGIST_CERTIFICATE_URL
			  , ADDRESS
			  , SALES
			  , STAFF_CNT
			  , INVESTMENT
			  , COMPANY_INTRO
			  , HOME_URL
			  , CONFIRM_YN
		  FROM COMPANY
		 ORDER BY CONFIRM_YN ASC
	</select>
	
	<update id="CompleteCompanyMemberRegistrationYn"
			parameterType="string">
		UPDATE COMPANY
		   SET CONFIRM_YN = 'Y'
		 WHERE COMPANY_EMAIL = #{_parameter}
	</update>
</mapper>