<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.follow.dao.FollowDAO">
	<resultMap type="com.ktdsuniversity.edu.follow.vo.FollowVO"
	           id="followVOMap"
	           autoMapping="true">
	    <id column="FOLLOW_ID" property="followId" />
	    <association property="memberVO"
					 javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
					 autoMapping="true">
			<id column="EMAIL" property="email" />
		</association>
	</resultMap>
	
	<!-- 알 수도 있는 사람 추천 조회 -->
	<select id="getMutualMembers"
	        parameterType="string"
	        resultMap="followVOMap">
	  WITH FOLLOWERS AS (SELECT DISTINCT MEMBER_ID -- 차은우를 알고 있는 모든 사람.
                           FROM (SELECT FOLLOWEE AS MEMBER_ID
                                   FROM FOLLOW 
                                  WHERE FOLLOWER = #{_parameter} -- 차은우가 팔로우 하는 사람
                                    AND FOLLOW_YN = 'Y'
                                  UNION ALL 
                                 SELECT FOLLOWER
                                   FROM FOLLOW 
                                  WHERE FOLLOWEE = #{_parameter}
                                    AND FOLLOW_YN = 'Y'))
	  SELECT R.*
	       , M.EMAIL
	       , M.NICKNAME
	       , M.PROFILE_PIC
	    FROM (SELECT DISTINCT *
		        FROM (SELECT FOLLOWEE
				        FROM FOLLOW
				       WHERE FOLLOWER IN (SELECT MEMBER_ID
									        FROM FOLLOWERS)
				         AND FOLLOW_YN = 'Y'
				       UNION ALL
				      SELECT FOLLOWER
				        FROM FOLLOW
				       WHERE FOLLOWEE IN (SELECT MEMBER_ID
									        FROM FOLLOWERS)
				         AND FOLLOW_YN = 'Y')
			   WHERE FOLLOWEE NOT IN (SELECT MEMBER_ID
								        FROM FOLLOWERS)
			     AND FOLLOWEE != #{_parameter}) R
	   INNER JOIN MEMBER M
	      ON R.FOLLOWEE = M.EMAIL
	</select>
	
	<!-- 나를 팔로우 하는 사람들 목록 조회 -->
	<select id="getAllFollower"
	        parameterType="string"
	        resultMap="followVOMap">
	  SELECT F.FOLLOW_ID
	       , F.FOLLOWER
	       , F.FOLLOWEE
	       , F.FOLLOW_YN
	       , M.NICKNAME
	       , M.PROFILE_PIC
	    FROM FOLLOW F
	   INNER JOIN MEMBER M
	      ON M.EMAIL = F.FOLLOWER
	   WHERE F.FOLLOW_YN = 'Y'
	     AND F.FOLLOWEE = #{_parameter}
	</select>
	
	<!-- 내가 팔로우 하는 사람들 목록 조회 -->
	<select id="getAllFollowee"
	        parameterType="string"
	        resultMap="followVOMap">
	  SELECT F.FOLLOW_ID
	       , F.FOLLOWER
	       , F.FOLLOWEE
	       , F.FOLLOW_YN
	       , M.NICKNAME
	       , M.PROFILE_PIC
	    FROM FOLLOW F
	   INNER JOIN MEMBER M
	      ON M.EMAIL = F.FOLLOWEE
	   WHERE F.FOLLOW_YN = 'Y'
	     AND F.FOLLOWER = #{_parameter}
	</select>
	
	<select id="getFollowStatus"
	        parameterType="com.ktdsuniversity.edu.follow.vo.SearchFollowVO"
	        resultMap="followVOMap">
	  SELECT F.FOLLOW_ID
	       , F.FOLLOWER
	       , F.FOLLOWEE
	       , F.FOLLOW_YN
	       , M.NICKNAME
	       , M.PROFILE_PIC
	    FROM FOLLOW F
	   INNER JOIN MEMBER M
	      ON M.EMAIL = F.FOLLOWER
	   WHERE F.FOLLOWER = #{followerEmail}
	     AND F.FOLLOWEE = #{followeeEmail}
	</select>
	
	<insert id="doFollow"
	        parameterType="com.ktdsuniversity.edu.follow.vo.FollowVO">
	  INSERT INTO FOLLOW
	   (FOLLOW_ID
	  , FOLLOWER
	  , FOLLOWEE
	  , FOLLOW_YN)
	  VALUES
	   ('FL-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_FOLLOW_PK.NEXTVAL, 6, '0')
	  , #{follower}
	  , #{followee}
	  , 'Y')
	</insert>
	
	<update id="toggleFollower"
	        parameterType="string">
	  UPDATE FOLLOW
	     SET FOLLOW_YN = 'N'
	   WHERE FOLLOW_ID = #{_parameter}
	</update>
	
	<delete id="unFollow"
	        parameterType="com.ktdsuniversity.edu.follow.vo.SearchFollowVO">
	  DELETE
	    FROM FOLLOW
	   WHERE FOLLOWEE = #{followeeEmail}
	</delete>
</mapper>