<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.amdin.dao.AdminDAO">

	<resultMap type="com.ktdsuniversity.edu.admin.vo.ReportVO" id="reportVOMap" autoMapping="true">
		<id column="REPORT_ID" property="reportId" />
		<result column="REPORT_MEMBER" property="reportMember" />
		<result column="REPORT_TYPE_ID" property="reportTypeId" />
		<result column="RECEIVED_REPORT_MEMBER" property="receivedReportMember" />
		<result column="REPORT_CONTENT_ID" property="reportContentId" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_REASON" property="reportReason" />
		<result column="REPORT_REASON_CONTENT" property="reportReasonContent" />
		<result column="ATTACHED_IMG" property="attachedImg" />
		<result column="PROGRESS_YN" property="progressYn" />
		
		<association property="reportMemberVO"
					javaType="com.ktdsuniversity.edu.member.vo.MemberVO">
			<id column="EMAIL" property="email" />
			<result column="PW" property="pw" />
			<result column="SALT" property="salt" />
			<result column="NICKNAME" property="nickname" />
			<result column="INFO_AGREEMENT_YN" property="infoAgreementYn" />
			<result column="PROFILE_PIC" property="profilePic" />
			<result column="REGIST_DATE" property="registDate" />
			<result column="MEMBER_TYPE" property="memberType" />
			<result column="WITHDRAW_YN" property="withdrawYn" />
		</association>
		
		<association property="receivedReportMemberVO"
					javaType="com.ktdsuniversity.edu.member.vo.MemberVO">
			<id column="EMAIL" property="email" />
			<result column="PW" property="pw" />
			<result column="SALT" property="salt" />
			<result column="NICKNAME" property="nickname" />
			<result column="INFO_AGREEMENT_YN" property="infoAgreementYn" />
			<result column="PROFILE_PIC" property="profilePic" />
			<result column="REGIST_DATE" property="registDate" />
			<result column="MEMBER_TYPE" property="memberType" />
			<result column="WITHDRAW_YN" property="withdrawYn" />
		</association>
		
		<association property="commonCodeVO"
					javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO">
			<id column="REASON_ID" property="codeId" />
			<result column="CODE_TYPE" property="codeType" />
			<result column="REASON" property="codeContent" />
		</association>
		
		<association property="commonCodeVOTemp"
					javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO">
			<id column="TYPE_ID" property="codeIdTemp" />
			<result column="CODE_TYPE" property="codeTypeTemp" />
			<result column="TYPE" property="codeContentTemp" />
		</association>
		
		<association property="generalPostVO"
					javaType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
			<id column="GENERAL_POST_ID" property="generalPostId" />
			<result column="POST_WRITER" property="postWriter" />
			<result column="BOARD_ID" property="boardId" />
			<result column="POST_TITLE" property="postTitle" />
			<result column="POST_CONTENT" property="postContent" />
			<result column="POST_DATE" property="postDate" />
			<result column="LIKE_CNT" property="likeCnt" />
			<result column="VIEW_CNT" property="viewCnt" />
			<result column="DELETE_YN" property="deleteYn" />
		</association>
		
		<association property="generalCommentVO"
					javaType="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO">
			<id column="GENERAL_COMMENT_ID" property="generalCommentId" />
			<result column="COMMENT_WRITER" property="commentWriter" />
			<result column="GENERAL_POST_ID" property="generalPostId" />
			<result column="COMMENT_CONTENT" property="commentContent" />
			<result column="POST_DATE" property="postDate" />
			<result column="UPPER_COMMENT_ID" property="upperCommentId" />
			<result column="LIKE_CNT" property="likeCnt" />
			<result column="DELETE_YN" property="deleteYn" />
		</association>		
	</resultMap>
	
	<resultMap type="com.ktdsuniversity.edu.admin.vo.AdminTierVO" id="adminTierVOMap" autoMapping="true">
		<id column="MEMBER_EMAIL" property="memberEmail" />
		<result column="SCORE" property="score" />
		<result column="NOW_TIER" property="nowTier" />
		<result column="NEXT_TIER" property="nextTier" />
		
		<association property="tierVO"
					javaType="com.ktdsuniversity.edu.tier.TierVO">
			<id column="NOW_TIER_ID" property="tierId" />
			<result column="NOW_TIER_NAME" property="tierName" />
			<result column="TIER_CRITERIA_SCORE" property="tierCriteriaScore" />
			<result column="TIER_IMAGE_URL" property="tierImageUrl" />
		</association>
		
		<association property="tierVOTemp"
					javaType="com.ktdsuniversity.edu.tier.TierVO">
			<id column="NEXT_TIER_ID" property="tierIdTemp" />
			<result column="NEXT_TIER_NAME" property="tierNameTemp" />
			<result column="TIER_CRITERIA_SCORE" property="tierCriteriaScoreTemp" />
			<result column="TIER_IMAGE_URL" property="tierImageUrlTemp" />
		</association>
	</resultMap>
	
	<resultMap type="com.ktdsuniversity.edu.tier.TierVO"
			   id="eachMemberTierMap"
			   autoMapping="true">
		<id column="TIER_ID" property="tierId"/>
		<association property="memberVO"
					 javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
					 autoMapping="true">
			<id column="EMAIL" property="email"/>
		</association>
		<association property="generalMemberVO"
			 javaType="com.ktdsuniversity.edu.generalmember.vo.GeneralMemberVO"
			 autoMapping="true">
			<id column="GENERAL_MEMBER_EMAIL" property="generalMemberEmail"/>
		</association>
	
	</resultMap>
	
	<select id="reportAllList"
			resultMap="reportVOMap">
		 SELECT R.REPORT_ID
			  , R.REPORT_MEMBER
			  , R.REPORT_TYPE_ID
			  , R.RECEIVED_REPORT_MEMBER
			  , R.REPORT_CONTENT_ID
			  , TO_CHAR(R.REPORT_DATE, 'YYYY-MM-DD') REPORT_DATE
			  , R.REPORT_REASON
			  , R.REPORT_REASON_CONTENT
			  , R.ATTACHED_IMG
		 	  , R.PROGRESS_YN
		 	  , CC.CODE_ID REASON_ID
			  , CC.CODE_CONTENT REASON
			  , C.CODE_ID TYPE_ID
			  , C.CODE_CONTENT TYPE
		   FROM REPORT R
		   LEFT JOIN COMMON_CODE CC
  			 ON R.REPORT_REASON = CC.CODE_ID
  		   LEFT JOIN COMMON_CODE C
  			 ON R.REPORT_TYPE_ID = C.CODE_ID
  		  ORDER BY R.REPORT_DATE DESC
  	</select>

	<select id="singleReport"
			parameterType="string"
			resultMap="reportVOMap">
		 SELECT R.REPORT_ID
			  , R.REPORT_MEMBER
			  , R.REPORT_TYPE_ID
			  , R.RECEIVED_REPORT_MEMBER
			  , R.REPORT_CONTENT_ID
			  , TO_CHAR(R.REPORT_DATE, 'YYYY-MM-DD') REPORT_DATE
			  , R.REPORT_REASON
			  , R.REPORT_REASON_CONTENT
			  , R.ATTACHED_IMG
		 	  , R.PROGRESS_YN
		 	  , CC.CODE_ID REASON_ID
			  , CC.CODE_CONTENT REASON
			  , C.CODE_ID TYPE_ID
			  , C.CODE_CONTENT TYPE
		   FROM REPORT R
		   LEFT JOIN COMMON_CODE CC
  			 ON R.REPORT_REASON = CC.CODE_ID
  		   LEFT JOIN COMMON_CODE C
  			 ON R.REPORT_TYPE_ID = C.CODE_ID
		  WHERE REPORT_ID = #{reportId} 
	</select>
	
	<select id="reportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
	</select>
	
	<select id="memberReportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
		 WHERE REPORT_TYPE_ID = 'CC-20231018-000104'
	</select>
	
	<select id="memberReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000104'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="freeBoardReportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
		 WHERE REPORT_TYPE_ID = 'CC-20231018-000097'
	</select>
	
	<select id="freeBoardReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000097'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="qnaBoardReportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
		 WHERE REPORT_TYPE_ID = 'CC-20231018-000101'
	</select>
	
	<select id="qnaBoardReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000101'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="freeBoardCommentReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000102'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="qnaBoardCommentReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000103'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<update id="completeProgressYn"
			parameterType="string">
		UPDATE REPORT
   		   SET PROGRESS_YN = 'Y'
 		 WHERE REPORT_ID = #{_parameter}
	</update>
	
	<!-- 게시글, 댓글, 유저 신고 -->
	<insert id="createReport"
		parameterType="com.ktdsuniversity.edu.admin.vo.ReportVO">
	INSERT INTO REPORT
	       (REPORT_ID
		 , REPORT_MEMBER
		 , REPORT_TYPE_ID
		 , RECEIVED_REPORT_MEMBER
		 , REPORT_CONTENT_ID
		 , REPORT_DATE
		 , REPORT_REASON
		 , REPORT_REASON_CONTENT
		 , ATTACHED_IMG
		 , PROGRESS_YN)
	 VALUES ('RP-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_REPORT_PK.NEXTVAL, 6, '0')
	      , #{reportMember}
		  , #{reportTypeId}
		  , #{receivedReportMember}
		  , #{reportContentId}
		  , SYSDATE
		  , #{reportReason}
		  , #{reportReasonContent}
		  , #{attachedImg}
		  , 'N')
	</insert>
	
	<select id="tierMemberAllList"
			resultMap="adminTierVOMap">
		SELECT A_T.MEMBER_EMAIL
			 , A_T.SCORE
			 , T1.TIER_ID NOW_TIER_ID
			 , T1.TIER_NAME NOW_TIER_NAME
			 , T2.TIER_ID NEXT_TIER_ID
			 , T2.TIER_NAME NEXT_TIER_NAME
		  FROM ADMIN_TIER A_T
		  LEFT JOIN TIER T1
		    ON A_T.NOW_TIER = T1.TIER_ID
		  LEFT JOIN TIER T2
		    ON A_T.NEXT_TIER = T2.TIER_ID
	</select>

	<select id="tierMemberAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM ADMIN_TIER
	</select>
	
	<select id="getMemberAndTier"
			resultMap="eachMemberTierMap"
			parameterType="string">
		SELECT GM.GENERAL_MEMBER_EMAIL
		     , M.NICKNAME 
		     , T.TIER_NAME 
		  FROM GENERAL_MEMBER GM
		 INNER JOIN MEMBER M
		    ON M.EMAIL = GM.GENERAL_MEMBER_EMAIL 
		 INNER JOIN TIER T
		    ON T.TIER_ID = GM.TIER_ID 
		  WHERE M.EMAIL = #{_parameter}
	</select>
	
</mapper>