<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.amdin.dao.ReportDAO">

	<resultMap type="com.ktdsuniversity.edu.admin.vo.ReportVO" id="reportVOMap" autoMapping="true">
		<id column = "REPORT_ID" property="reportId" />
		<result column="REPORT_MEMBER" property="reportMember" />
		<result column="REPORT_TYPE_ID" property="reportTypeId" />
		<result column="RECEIVED_REPORT_MEMBER" property="receivedReportMember" />
		<result column="REPORT_CONTENT_ID" property="reportContentId" />
		<result column="REPORT_DATE" property="reportDate" />
		<result column="REPORT_REASON" property="reportReason" />
		<result column="REPORT_REASON_CONTENT" property="reportReasonContent" />
		<result column="ATTACHED_IMG" property="attachedImg" />
		<result column="PROGRESS_YN" property="progressYn" />
		
		<association property="memberVO"
					javaType="com.ktdsuniversity.edu.member.vo.MemberVO">
			<id column="EMAIL" property="email" />
			<result column="PW" property="pw" />
			<result column="SALT" property="salt" />
			<result column="NICKNAME" property="nickname" />
			<result column="INFO_AGREEMENT_YN" property="infoAgreementYn" />
			<result column="PROFILE_PIC" property="profilePic" />
			<result column="REGIST_DATE" property="registDate" />
			<result column="MEMBER_TYPE" property="memberType" />
			<result column="WITHDRAW_YN" property="withdrawYn" />
		</association>
		
		<association property="commonCodeVO"
					javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO">
			<id column="REASON_ID" property="codeId" />
			<result column="CODE_TYPE" property="codeType" />
			<result column="REASON" property="codeContent" />
		</association>
		
		<association property="commonCodeVOTemp"
					javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO">
			<id column="TYPE_ID" property="codeIdTemp" />
			<result column="CODE_TYPE" property="codeTypeTemp" />
			<result column="TYPE" property="codeContentTemp" />
		</association>
		
		<association property="generalPostVO"
					javaType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO">
			<id column="GENERAL_POST_ID" property="generalPostId" />
			<result column="POST_WRITER" property="postWriter" />
			<result column="BOARD_ID" property="boardId" />
			<result column="POST_TITLE" property="postTitle" />
			<result column="POST_CONTENT" property="postContent" />
			<result column="POST_DATE" property="postDate" />
			<result column="LIKE_CNT" property="likeCnt" />
			<result column="VIEW_CNT" property="viewCnt" />
			<result column="DELETE_YN" property="deleteYn" />
		</association>
		
		<association property="generalCommentVO"
					javaType="com.ktdsuniversity.edu.generalpost.vo.GeneralCommentVO">
			<id column="GENERAL_COMMENT_ID" property="generalCommentId" />
			<result column="COMMENT_WRITER" property="commentWriter" />
			<result column="GENERAL_POST_ID" property="generalPostId" />
			<result column="COMMENT_CONTENT" property="commentContent" />
			<result column="POST_DATE" property="postDate" />
			<result column="UPPER_COMMENT_ID" property="upperCommentId" />
			<result column="LIKE_CNT" property="likeCnt" />
			<result column="DELETE_YN" property="deleteYn" />
		</association>
	</resultMap>

	
	<select id="reportAllList"
			resultMap="reportVOMap">
		 SELECT R.REPORT_ID
			  , R.REPORT_MEMBER
			  , R.REPORT_TYPE_ID
			  , R.RECEIVED_REPORT_MEMBER
			  , R.REPORT_CONTENT_ID
			  , R.REPORT_DATE
			  , R.REPORT_REASON
			  , R.REPORT_REASON_CONTENT
			  , R.ATTACHED_IMG
		 	  , R.PROGRESS_YN
		 	  , CC.CODE_ID REASON_ID
			  , CC.CODE_CONTENT REASON
			  , C.CODE_ID TYPE_ID
			  , C.CODE_CONTENT TYPE
		   FROM REPORT R
		   LEFT JOIN COMMON_CODE CC
  			 ON R.REPORT_REASON = CC.CODE_ID
  		   LEFT JOIN COMMON_CODE C
  			 ON R.REPORT_TYPE_ID = C.CODE_ID
  		  ORDER BY R.REPORT_DATE DESC
  	</select>

	<select id="singleReport"
			parameterType="string"
			resultMap="reportVOMap">
		 SELECT R.REPORT_ID
			  , R.REPORT_MEMBER
			  , R.REPORT_TYPE_ID
			  , R.RECEIVED_REPORT_MEMBER
			  , R.REPORT_CONTENT_ID
			  , R.REPORT_DATE
			  , R.REPORT_REASON
			  , R.REPORT_REASON_CONTENT
			  , R.ATTACHED_IMG
		 	  , R.PROGRESS_YN
		 	  , CC.CODE_ID REASON_ID
			  , CC.CODE_CONTENT REASON
			  , C.CODE_ID TYPE_ID
			  , C.CODE_CONTENT TYPE
		   FROM REPORT R
		   LEFT JOIN COMMON_CODE CC
  			 ON R.REPORT_REASON = CC.CODE_ID
  		   LEFT JOIN COMMON_CODE C
  			 ON R.REPORT_TYPE_ID = C.CODE_ID
		  WHERE REPORT_ID = #{reportId} 
	</select>
	
	<select id="reportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
	</select>
	
	<select id="memberReportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
		 WHERE REPORT_TYPE_ID = 'CC-20231018-000104'
	</select>
	
	<select id="memberReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000104'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="freeBoardReportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
		 WHERE REPORT_TYPE_ID = 'CC-20231018-000097'
	</select>
	
	<select id="freeBoardReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000097'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="qnaBoardReportAllCount"
			resultType="_int">
		SELECT COUNT(1)
		  FROM REPORT
		 WHERE REPORT_TYPE_ID = 'CC-20231018-000101'
	</select>
	
	<select id="qnaBoardReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000101'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="freeBoardCommentReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000102'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<select id="qnaBoardCommentReportList"
			resultMap="reportVOMap">
		SELECT CC.CODE_ID 
			 , R.REPORT_ID
			 , R.REPORT_MEMBER
			 , R.REPORT_TYPE_ID
			 , R.RECEIVED_REPORT_MEMBER
			 , R.REPORT_CONTENT_ID
			 , R.REPORT_DATE
			 , R.REPORT_REASON
			 , R.REPORT_REASON_CONTENT
			 , R.ATTACHED_IMG
			 , R.PROGRESS_YN
 		 	 , CC.CODE_ID REASON_ID
			 , CC.CODE_CONTENT REASON
			 , C.CODE_ID TYPE_ID
			 , C.CODE_CONTENT TYPE
		  FROM REPORT R
		  LEFT JOIN COMMON_CODE CC
  			ON R.REPORT_REASON = CC.CODE_ID
  		  LEFT JOIN COMMON_CODE C
  			ON R.REPORT_TYPE_ID = C.CODE_ID
		 WHERE R.REPORT_TYPE_ID = 'CC-20231018-000103'
 		 ORDER BY R.REPORT_DATE DESC
	</select>
	
	<update id="completeProgressYn"
			parameterType="string">
		UPDATE REPORT
   		   SET PROGRESS_YN = 'Y'
 		 WHERE REPORT_ID = #{_parameter}
	</update>
	
	<!-- 게시글, 댓글, 유저 신고 -->
	<insert id="createReport"
		parameterType="com.ktdsuniversity.edu.admin.vo.ReportVO">
	
	INSERT INTO REPORT
	       (REPORT_ID
		 , REPORT_MEMBER
		 , REPORT_TYPE_ID
		 , RECEIVED_REPORT_MEMBER
		 , REPORT_CONTENT_ID
		 , REPORT_DATE
		 , REPORT_REASON
		 , REPORT_REASON_CONTENT
		 , ATTACHED_IMG
		 , PROGRESS_YN)
	 VALUES ('RP-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_REPORT_PK.NEXTVAL, 6, '0')
	      , #{reportMember}
		  , #{reportTypeId}
		  , #{receivedReportMember}
		  , #{reportContentId}
		  , SYSDATE
		  , #{reportReason}
		  , #{reportReasonContent}
		  , #{attachedImg}
		  , 'N')
	</insert>

</mapper>