<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.algorithmquestion.dao.AlgorithmQuestionDAO">
	<resultMap type="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO"
	           id="AlgorithmQuestionDAOMap" autoMapping="true" >
	           <id column="COMPANY_ALGORITHM_QUESTION_ID" property="companyAlgorithmQuestionId" />
	    <association property="memberVO"
	        javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
			autoMapping="true">
			<id column="EMAIL" property="email" />
		</association>
		<association property="commonCodeVO"
		    javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO"
		    autoMapping="true">
		    <id column="CODE_ID" property="codeId" />
		</association>
		<!-- <association  property="algorithmCategoryListVO"
		              javaType="com.ktdsuniversity.edu.algorithmcategorylist.vo.AlgorithmCategoryListVO"
		              autoMapping="true">
		              <id column="ALGORITHM_CATEGORY_LIST_ID" property="algorithmCategoryListId"/>
		</association> -->
	</resultMap>
	
	<select id="getAlgorithmQuestionAllCount"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.SearchAlgorithmQuestionVO"
	        resultType="_int">
	    SELECT COUNT(CAQ.COMPANY_ALGORITHM_QUESTION_ID)
          FROM COMPANY_ALGORITHM_QUESTION CAQ
         INNER JOIN MEMBER M
            ON CAQ.ALGORITHM_WRITER = M.EMAIL
         INNER JOIN ALGORITHM_CATEGORY_LIST ACL
            ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = ACL.COMPANY_ALGORITHM_QUESTION_ID
	       WHERE DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
		    <if test='searchType == "algorithmTitle"'>
		   AND CAQ.ALGORITHM_TITLE LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmContent"'>
		   AND CAQ.ALGORITHM_CONTENT LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmWriter"'>
		   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
		    </if>
		</if>
	</select>
	
	<select id="getAllAlgorithmQuestion"
	        resultMap="AlgorithmQuestionDAOMap">
	    SELECT CAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , CAQ.ALGORITHM_CATEGORY_ID
		     , CAQ.ALGORITHM_TIER_ID
		     , CAQ.ALGORITHM_WRITER
		     , CAQ.ALGORITHM_TITLE
		     , CAQ.ALGORITHM_CONTENT
		     , CAQ.ALGORITHM_SOLUTION
		     , TO_CHAR(CAQ.POST_DATE, 'YYYY-MM-DD HH24:MI:SS') POST_DATE
		     , CAQ.VIEW_CNT
		     , CAQ.LIKE_CNT
		     , CAQ.DELETE_YN
		     , M.NICKNAME
		     , C.CODE_CONTENT
		  FROM COMPANY_ALGORITHM_QUESTION CAQ
		 INNER JOIN MEMBER M
		    ON CAQ.ALGORITHM_WRITER = M.EMAIL
		 INNER JOIN COMMON_CODE C
		    ON CAQ.ALGORITHM_CATEGORY_ID = C.CODE_ID
		 INNER JOIN ALGORITHM_CATEGORY_LIST ACL
            ON CAQ.COMPANY_ALGORITHM_QUESTION_ID = ACL.COMPANY_ALGORITHM_QUESTION_ID
		 WHERE DELETE_YN = 'N'
		 ORDER BY POST_DATE DESC <!-- 최신글순 -->
	</select>
	
	<select id="searchAllAlgorithmQuestion"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.SearchAlgorithmQuestionVO"
	        resultMap="AlgorithmQuestionDAOMap">
	    SELECT CAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , CAQ.ALGORITHM_CATEGORY_ID
		     , CAQ.ALGORITHM_TIER_ID
		     , CAQ.ALGORITHM_WRITER
		     , CAQ.ALGORITHM_TITLE
		     , CAQ.ALGORITHM_CONTENT
		     , CAQ.ALGORITHM_SOLUTION
		     , TO_CHAR(CAQ.POST_DATE, 'YYYY-MM-DD HH24:MI:SS') POST_DATE
		     , CAQ.VIEW_CNT
		     , CAQ.LIKE_CNT
		     , CAQ.DELETE_YN
		     , M.NICKNAME
		     , C.CODE_CONTENT
		  FROM COMPANY_ALGORITHM_QUESTION CAQ
		 INNER JOIN MEMBER M
		    ON CAQ.ALGORITHM_WRITER = M.EMAIL
		 INNER JOIN COMMON_CODE C
		    ON CAQ.ALGORITHM_CATEGORY_ID = C.CODE_ID
		 WHERE DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
		    <if test='searchType == "algorithmTitle"'>
		   AND CAQ.ALGORITHM_TITLE LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmContent"'>
		   AND CAQ.ALGORITHM_CONTENT LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmWriter"'>
		   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
		    </if>
		</if>
		 ORDER BY POST_DATE DESC <!-- 최신글순 -->
	</select>
	
	<insert id="createNewAlgorithmQuestion"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO">
		<selectKey keyProperty="companyAlgorithmQuestionId" resultType="string" order="BEFORE">
			SELECT 'AQ-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_COMPANY_ALGORITHM_QUESTION_PK.NEXTVAL, 6, '0')
			  FROM DUAL
		</selectKey>
	    INSERT INTO COMPANY_ALGORITHM_QUESTION
		 (COMPANY_ALGORITHM_QUESTION_ID
		, ALGORITHM_CATEGORY_ID
		, ALGORITHM_TIER_ID
		, ALGORITHM_WRITER
		, ALGORITHM_TITLE
		, ALGORITHM_CONTENT
		, ALGORITHM_SOLUTION
		, POST_DATE
		, VIEW_CNT
		, LIKE_CNT
		, DELETE_YN)
		VALUES
		 (#{companyAlgorithmQuestionId}
		, #{algorithmCategoryId}
		, #{algorithmTierId}
		, #{algorithmWriter}
		, #{algorithmTitle}
		, #{algorithmContent}
		, #{algorithmSolution}
		, SYSDATE
		, 0
		, 0
		, 'N')
	</insert>
	
	<insert id="createNewAlgorithmQuestionCategory"
			parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO">
		INSERT INTO ALGORITHM_CATEGORY_LIST
		 (ALGORITHM_CATEGORY_LIST_ID
		, COMPANY_ALGORITHM_QUESTION_ID
		, ALGORITHM_CATEGORY_ID)
		SELECT SEQ_ALGORITHM_CATEGORY_LIST_PK.NEXTVAL
		     , Q_ID
		     , C_ID
		  FROM (
		<foreach collection="algorithmCategoryIdList" item="categoryId" separator="UNION ALL">
		SELECT #{companyAlgorithmQuestionId} Q_ID
		    , #{categoryId} C_ID
		  FROM DUAL
		</foreach>
		)
	</insert>
	
	<insert id="createNewMyAlgorithm"
	        parameterType="com.ktdsuniversity.edu.myalgorithm.vo.MyAlgorithmVO">
		INSERT INTO MY_ALGORITHM_QUESTION
		 (MY_ALGORITHM_QUESTION_ID
        , GENERAL_MEMBER_EMAIL
        , COMPANY_ALGORITHM_QUESTION_ID
        , MY_ANSWER
        , CORRECT_ANSWER_YN
        , DELETE_YN)
        VALUES
         ('MA-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_MY_ALGORITHM_QUESTION_PK.NEXTVAL, 6, '0')
        , #{email}
        , #{companyAlgorithmQuestionId}
        , #{myAnswer}
        , CASE WHEN DBMS_RANDOM.NORMAL >= 0 THEN 'Y' ELSE 'N' END <!-- 랜덤으로 줘야 함 -->
        , 'N')
	</insert>
	
	<update id="increaseViewCount"
	        parameterType="string">
		UPDATE COMPANY_ALGORITHM_QUESTION
		   SET VIEW_CNT = VIEW_CNT + 1
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</update>
	
	<select id="getOneAlgorithmQuestion"
	        parameterType="string"
	        resultMap="AlgorithmQuestionDAOMap">
	    SELECT CAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , CAQ.ALGORITHM_CATEGORY_ID
		     , CAQ.ALGORITHM_TIER_ID
		     , CAQ.ALGORITHM_WRITER
		     , CAQ.ALGORITHM_TITLE
		     , CAQ.ALGORITHM_CONTENT
		     , CAQ.ALGORITHM_SOLUTION
		     , TO_CHAR(CAQ.POST_DATE, 'YYYY-MM-DD HH24:MI:SS') POST_DATE
		     , CAQ.VIEW_CNT
		     , CAQ.LIKE_CNT
		     , CAQ.DELETE_YN
		     , M.NICKNAME
		     , C.CODE_CONTENT
		  FROM COMPANY_ALGORITHM_QUESTION CAQ
		 INNER JOIN MEMBER M
		    ON CAQ.ALGORITHM_WRITER = M.EMAIL
		 INNER JOIN COMMON_CODE C
		    ON CAQ.ALGORITHM_CATEGORY_ID = C.CODE_ID
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</select>
	
	<update id="updateOneAlgorithmQuestion"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO">
	    UPDATE COMPANY_ALGORITHM_QUESTION
		   SET ALGORITHM_CATEGORY_ID = #{algorithmCategoryId}
		     , ALGORITHM_TIER_ID = #{algorithmTierId}
		     , ALGORITHM_TITLE = #{algorithmTitle}
		     , ALGORITHM_CONTENT = #{algorithmContent}
		     , ALGORITHM_SOLUTION = #{algorithmSolution}
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{companyAlgorithmQuestionId}
	</update>
	
	<update id="deleteOneAlgorithmQuestion"
	        parameterType="string">
	    UPDATE COMPANY_ALGORITHM_QUESTION
	       SET DELETE_YN = 'Y'
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</update>
	
	
	
</mapper>