<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.algorithmquestion.dao.AlgorithmQuestionDAO">
	<resultMap type="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO"
	           id="AlgorithmQuestionDAOMap" autoMapping="true" >
	           <id column="COMPANY_ALGORITHM_QUESTION_ID" property="companyAlgorithmQuestionId" />
	    <association property="memberVO"
	        javaType="com.ktdsuniversity.edu.member.vo.MemberVO"
			autoMapping="true">
			<id column="EMAIL" property="email" />
		</association>	
	</resultMap>
	
	<select id="getAlgorithmQuestionAllCount"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.SearchAlgorithmQuestionVO"
	        resultType="_int">
	    SELECT COUNT(CAQ.COMPANY_ALGORITHM_QUESTION_ID)
          FROM COMPANY_ALGORITHM_QUESTION CAQ
         INNER JOIN MEMBER M
            ON CAQ.ALGORITHM_WRITER = M.EMAIL
	       WHERE DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
		    <if test='searchType == "algorithmTitle"'>
		   AND CAQ.ALGORITHM_TITLE LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmContent"'>
		   AND CAQ.ALGORITHM_CONTENT LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmWriter"'>
		   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
		    </if>
		</if>
        
	</select>
	
	<select id="getAllAlgorithmQuestion"
	        resultMap="AlgorithmQuestionDAOMap">
	    SELECT CAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , CAQ.ALGORITHM_CATEGORY_ID
		     , CAQ.ALGORITHM_TIER_ID
		     , CAQ.ALGORITHM_WRITER
		     , CAQ.ALGORITHM_TITLE
		     , CAQ.ALGORITHM_CONTENT
		     , CAQ.ALGORITHM_SOLUTION
		     , TO_CHAR(CAQ.POST_DATE, 'YYYY-MM-DD HH24:MI:SS') POST_DATE
		     , CAQ.VIEW_CNT
		     , CAQ.LIKE_CNT
		     , CAQ.DELETE_YN
		     , M.NICKNAME
		  FROM COMPANY_ALGORITHM_QUESTION CAQ
		 INNER JOIN MEMBER M
		    ON CAQ.ALGORITHM_WRITER = M.EMAIL
		 WHERE DELETE_YN = 'N'
		 ORDER BY POST_DATE DESC <!-- 최신글순 -->
	</select>
	
	<select id="searchAllAlgorithmQuestion"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.SearchAlgorithmQuestionVO"
	        resultMap="AlgorithmQuestionDAOMap">
	    SELECT CAQ.COMPANY_ALGORITHM_QUESTION_ID
		     , CAQ.ALGORITHM_CATEGORY_ID
		     , CAQ.ALGORITHM_TIER_ID
		     , CAQ.ALGORITHM_WRITER
		     , CAQ.ALGORITHM_TITLE
		     , CAQ.ALGORITHM_CONTENT
		     , CAQ.ALGORITHM_SOLUTION
		     , TO_CHAR(CAQ.POST_DATE, 'YYYY-MM-DD HH24:MI:SS') POST_DATE
		     , CAQ.VIEW_CNT
		     , CAQ.LIKE_CNT
		     , CAQ.DELETE_YN
		     , M.NICKNAME
		  FROM COMPANY_ALGORITHM_QUESTION CAQ
		 INNER JOIN MEMBER M
		    ON CAQ.ALGORITHM_WRITER = M.EMAIL
		 WHERE DELETE_YN = 'N'
		<if test='searchKeyword != null and searchKeyword != ""'>
		    <if test='searchType == "algorithmTitle"'>
		   AND CAQ.ALGORITHM_TITLE LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmContent"'>
		   AND CAQ.ALGORITHM_CONTENT LIKE '%' || #{searchKeyword} || '%'
		    </if>
		    <if test='searchType == "algorithmWriter"'>
		   AND M.NICKNAME LIKE '%' || #{searchKeyword} || '%'
		    </if>
		</if>
		 ORDER BY POST_DATE DESC <!-- 최신글순 -->
	</select>
	
	<insert id="createNewAlgorithmQuestion"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO">
	    INSERT INTO COMPANY_ALGORITHM_QUESTION
		 (COMPANY_ALGORITHM_QUESTION_ID
		, ALGORITHM_CATEGORY_ID
		, ALGORITHM_TIER_ID
		, ALGORITHM_WRITER
		, ALGORITHM_TITLE
		, ALGORITHM_CONTENT
		, ALGORITHM_SOLUTION
		, POST_DATE
		, VIEW_CNT
		, LIKE_CNT
		, DELETE_YN)
		VALUES
		 ('AQ-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_COMPANY_ALGORITHM_QUESTION_PK.NEXTVAL, 6, '0')
		, #{algorithmCategoryId}
		, #{algorithmTierId}
		, #{algorithmWriter}
		, #{algorithmTitle}
		, #{algorithmContent}
		, #{algorithmSolution}
		, SYSDATE
		, 0
		, 0
		, 'N')
	</insert>
	
	<insert id="createNewMyAlgorithm"
	        parameterType="com.ktdsuniversity.edu.myalgorithm.vo.MyAlgorithmVO">
		INSERT INTO MY_ALGORITHM_QUESTION
		 (MY_ALGORITHM_QUESTION_ID
        , GENERAL_MEMBER_EMAIL
        , COMPANY_ALGORITHM_QUESTION_ID
        , MY_ANSWER
        , CORRECT_ANSWER_YN
        , DELETE_YN)
        VALUES
         ('MA-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_MY_ALGORITHM_QUESTION_PK.NEXTVAL, 6, '0')
        , #{email}
        , #{companyAlgorithmQuestionId}
        , #{myAnswer}
        , CASE WHEN DBMS_RANDOM.NORMAL >= 0 THEN 'Y' ELSE 'N' END <!-- 랜덤으로 줘야 함 -->
        , 'N')
	</insert>
	
	<update id="increaseViewCount"
	        parameterType="string">
		UPDATE COMPANY_ALGORITHM_QUESTION
		   SET VIEW_CNT = VIEW_CNT + 1
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</update>
	
	<select id="getOneAlgorithmQuestion"
	        parameterType="string"
	        resultMap="AlgorithmQuestionDAOMap">
	    SELECT COMPANY_ALGORITHM_QUESTION_ID
		     , ALGORITHM_CATEGORY_ID
		     , ALGORITHM_TIER_ID
		     , ALGORITHM_WRITER
		     , ALGORITHM_TITLE
		     , ALGORITHM_CONTENT
		     , ALGORITHM_SOLUTION
		     , TO_CHAR(POST_DATE, 'YYYY-MM-DD HH24:MI:SS') POST_DATE
		     , VIEW_CNT
		     , LIKE_CNT
		     , DELETE_YN
		  FROM COMPANY_ALGORITHM_QUESTION
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</select>
	
	<update id="updateOneAlgorithmQuestion"
	        parameterType="com.ktdsuniversity.edu.algorithmquestion.vo.AlgorithmQuestionVO">
	    UPDATE COMPANY_ALGORITHM_QUESTION
		   SET ALGORITHM_CATEGORY_ID = #{algorithmCategoryId}
		     , ALGORITHM_TIER_ID = #{algorithmTierId}
		     , ALGORITHM_TITLE = #{algorithmTitle}
		     , ALGORITHM_CONTENT = #{algorithmContent}
		     , ALGORITHM_SOLUTION = #{algorithmSolution}
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{companyAlgorithmQuestionId}
	</update>
	
	<update id="deleteOneAlgorithmQuestion"
	        parameterType="string">
	    UPDATE COMPANY_ALGORITHM_QUESTION
	       SET DELETE_YN = 'Y'
		 WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</update>
	
	
	
</mapper>