<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.generalposthashtag.dao.HashtagDAO" >

<insert id="createPostHashtag"
        parameterType="com.ktdsuniversity.edu.generalposthashtag.vo.HashtagVO">
	INSERT INTO GENERAL_POST_HASHTAG
		   (GENERAL_POST_HASHTAG_ID
		 , HASHTAG_ID
		 , GENERAL_POST_ID)
    VALUES
     	( 'GH-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_GENERAL_POST_HASHTAG_PK.NEXTVAL, 6, '0')
     	 , #{hashtagId}
     	 , #{generalPostId})
</insert>

<select id="getHashtagCnt"
		resultType="_int">
	SELECT COUNT(1)
	  FROM GENERAL_POST_HASHTAG GPH
	 INNER JOIN GENERAL_POST GP
	    ON GPH.GENERAL_POST_ID = GP.GENERAL_POST_ID
	 INNER JOIN MEMBER M
	    ON M.EMAIL = GP.POST_WRITER
</select>

<!-- 해시태그 소팅 -->
<select id="getAllHashtag"
		parameterType="string"
		resultType="com.ktdsuniversity.edu.generalposthashtag.vo.HashtagVO">
	SELECT GPH.* 
	     , GP.*
	  FROM GENERAL_POST GP
	 INNER JOIN GENERAL_POST_HASHTAG GPH
	    ON GP.GENERAL_POST_ID = GPH.GENERAL_POST_ID 
	 WHERE GPH.HASHTAG_ID = #{_parameter}
</select>

<!-- 커먼코드 리스트 가져오기 -->
<select id="getHastagList"
		parameterType="string"
		resultType="com.ktdsuniversity.edu.generalposthashtag.vo.HashtagVO">
		SELECT CC.CODE_CONTENT 
			 , GP.GENERAL_POST_ID
		  FROM GENERAL_POST GP
		 INNER JOIN GENERAL_POST_HASHTAG GPH
		    ON GP.GENERAL_POST_ID = GPH.GENERAL_POST_ID 
		 INNER JOIN COMMON_CODE CC
		    ON CC.CODE_ID = GPH.HASHTAG_ID 
		 WHERE GP.GENERAL_POST_ID = #{_parameter}
</select>

</mapper>