<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.generalposthashtag.dao.HashtagDAO" >
	<resultMap type="com.ktdsuniversity.edu.generalposthashtag.vo.HashtagVO"
				id="HashtagDAOMap"
				autoMapping="true">
		<association property="commonCodeVO"
	                 javaType="com.ktdsuniversity.edu.commoncode.vo.CommonCodeVO"
			         autoMapping="true">
			         <id column="CODEID" property="codeId" />
	    </association>
		<association property="GeneralPostVO"
	                 javaType="com.ktdsuniversity.edu.generalpost.vo.GeneralPostVO"
			         autoMapping="true">
			         <id column="GENERALPOSTID" property="generalPostId" />
	    </association> 
	</resultMap>

<insert id="createHashtag">
	INSERT INTO GENERAL_POST_HASHTAG
		   (GENERAL_POST_HASHTAG_ID
		 , HASHTAG_ID
		 , GENERAL_POST_ID)
    VALUES
     	( 'GH-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_GENERAL_POST_HASHTAG_PK.NEXTVAL, 6, '0')
     	 , #{hashtagId}
     	 , #{generalPostId})
</insert>

</mapper>