<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktdsuniversity.edu.generalmember.dao.GeneralMemberDAO">
	
	<insert id="createNewEducation"
		parameterType="com.ktdsuniversity.edu.education.vo.EducationVO">
		INSERT INTO EDUCATION
		( EDUCATION_ID
		, GENERAL_MEMBER_EMAIL
		, SCHOOL_NAME
		, SCHOOL_DEPARTMENT
		, DEGREES)
		VALUES
		( 'ED-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_EDUCATION_PK.NEXTVAL, 6, '0')
		, #{generalMemberEmail}
		, #{schoolName}
		, #{schoolDepartment}
		, #{degrees})
	</insert>

	<select id="getOneEducation" parameterType="string"
		resultType="com.ktdsuniversity.edu.education.vo.EducationVO">
		SELECT EDUCATION_ID
		, GENERAL_MEMBER_EMAIL
		, SCHOOL_NAME
		, SCHOOL_DEPARTMENT
		, DEGREES
		FROM EDUCATION
		WHERE EDUCATION_ID = #{_parameter}
	</select>
	<update id="updateOneEducation"
		parameterType="com.ktdsuniversity.edu.education.vo.EducationVO">
		UPDATE EDUCATION
		SET SCHOOL_NAME = #{schoolName},
		SCHOOL_DEPARTMENT = #{schoolDepartment},
		DEGREES = #{degrees}
		WHERE EDUCATION_ID = #{educationId}
	</update>
	<delete id="deleteOneEducation" parameterType="string">
		DELETE
		  FROM EDUCATION
		 WHERE EDUCATION_ID = #{_parameter}
	</delete>
</mapper>