<!-- 
	작성자: 장보늬
	작성일자: 2023-10-24
	내용: 기업이 제출한 알고리즘 정답데이터에 대한 쿼리
 -->
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ktdsuniversity.edu.algorithmanswer.dao.AlgorithmAnswerDAO">
	<insert id="createAlgorithmAnswer"
	        parameterType="com.ktdsuniversity.edu.algorithmanswer.vo.AlgorithmAnswerVO">
	  INSERT INTO ALGORITHM_ANSWER
	   (ALGORITHM_ANSWER_ID
	  , COMPANY_ALGORITHM_QUESTION_ID
	  , CONTENT
	  , RESULT)
	  VALUES
	   ('AA-' || TO_CHAR(SYSDATE, 'YYYYMMDD') || '-' || LPAD(SEQ_ALGORITHM_ANSWER_PK.NEXTVAL, 6, '0')
	  , #{companyAlgorithmQuestionId}
	  , #{content}
	  , #{result})
	</insert>
	
	<delete id="deleteAlgorithmAnswer"
	        parameterType="string">
	  DELETE ALGORITHM_ANSWER
	   WHERE COMPANY_ALGORITHM_QUESTION_ID = #{companyAlgorithmQuestionId}
	     
	</delete>
	
	<select id="getAlgorithmAnswer"
	        resultType="com.ktdsuniversity.edu.algorithmanswer.vo.AlgorithmAnswerVO"
	        parameterType="string">
	  SELECT ALGORITHM_ANSWER_ID
           , COMPANY_ALGORITHM_QUESTION_ID
           , CONTENT
           , RESULT
	    FROM ALGORITHM_ANSWER
	   WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</select>
	
	<select id="getResult"
	        resultType="_int"
	        parameterType="string">
	  SELECT COMPANY_ALGORITHM_QUESTION_ID
	       , RESULT
	    FROM ALGORITHM_ANSWER
	   WHERE COMPANY_ALGORITHM_QUESTION_ID = #{_parameter}
	</select>
</mapper>